.inputLargo {
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
}
.inputCorto {
  width: 100%;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
  overflow: hidden;
}

.similInput label {
  display: inline-block;
  margin-bottom: 0;
  padding-left: 0;
  color: black;
  font-size: 17px;
}
.similInput label:after {
  content: none;
}
.similInput INPUT {
  margin: 10px 0 0 0;
}
.similInput div {
  padding-top: 6px;
}

.col_div .notificacion {
  margin: 0;
  text-align: right;
  padding: 0 15px;
  position: relative;
  bottom: 10px;
}
.notificacion a, .notificacion a:hover, .notificacion a:visited {
  color: $mainRed;
}

.submitArea label, .col_div .submitArea>p {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
  color: black;
}

.submitArea label:after {
  content: none;
}

.submit-button {
  background: $whiteSmoke;
  border-bottom: solid white 1px;
  border: none;
  box-shadow: #AAA 0px 2px 20px -5px;
  -webkit-box-shadow: #AAA 0px 2px 20px -5px;
  color: $mainRed;
  cursor: pointer;
  float: none;
  font-family: $mainFont;
  font-size: 13px;
  margin-bottom: 30px;
  margin-right: 15px;
  padding: 9px;
  text-align: center;
  width: 100%;
  &:hover,
  &:focus {
    color: white;
    background-color: $softRed;
    border-bottom: solid $mainRed 2px;
    outline: none;
  }
}

@media (min-width: 768px) {
  .inputCorto {
    width: 125px
  }

  .inputLargo {
    width: 315px;
  }

  .submit-button {
    width: 315px;
  }
}
