// Requirements
// ============
$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);


.col-1 {
	width: 100%;
}

.col-1-2 {
	width: 50%;
}

.col-1-3 {
	width: 33.33%;
}

.col-1-4 {
	width: 25%;
}

.col-1-5 {
	width: 20%;
}

.col-1-6 {
	width: 16.66%;
}

.col-1-8 {
	width: 12.5%;
}

.col-1-9{
	width: 11.11%
}

.col-1-10 {
	width: 10%;
}

.col-2-3 {
	width: 66.66%;
}

.col-3-4 {
	width: 75%;
}

.col-7-8 {
	width: 87.5%;
}

.col-3-10 {
	width: 30%;
}

.col-9-10 {
	width: 90%;
}