.navbar-logo {
	@include span(1 of 2);
	background: $softRed;
	height: 100%;
	padding-right: 1%;

	a {
		font-family: $mainFont;
		height: 100%;
		float: right;
		width: 70%;
		position: relative;
	}
}

.logo {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: url($biglogo) no-repeat center;
}

.text-logo {
	bottom: 0;
	color: $white;
	font-size: 45px;
	line-height: 55px;
	margin-left: 50%;
	padding: 0;
	position: absolute;
	right: 0;
	text-transform: uppercase;
}

.menus {
	background: $white;
  height: 40%;

	&.last {
		padding-left: 1%;
	}
}

ul#menu,
ul.sub-menu,
ul#sobre_derecha {
	padding:0;
	margin: 0;
	position: absolute;
	list-style: none;

	li {
		display: inline-block;
		position: relative;
	}
}

ul#menu {
	top: 34px;
}

ul#sobre_derecha {
	right: 5%;
}

.top30 {
	top: 30px;
}
ul.sub-menu {
	display:none;
	position: absolute;
	left: 0;
	padding-top: 10px;

	li:hover & {
		display:block;
	}

	li{
		background: $softWhite;
		width: 130px;
		padding: 10px 5px;

		&:hover {
			background-color: $white;
		}
	}

	a {
		color: $mainRed;
		padding: 5px;
		display: block;

		&:hover {
			font-weight: 700;
		}
	}
}

ul#menu>li>a, ul#sobre_derecha>li>a{
    color: $softRed;
    text-decoration: none;
    padding: 6px 9px;
    display: inline-block;
    border-right: 1px solid $mainRed;
    letter-spacing: 1px;
}

ul#sobre_derecha li a:hover{
  font-style: italic;
}
/*sobre derecha*/
#sobre_derecha li>a{
    padding: 9px !important;
    background-color: $whiteSmoke;
}
#sobre_derecha li:last-child>a{
    background-color:$softRed;
    color: white;
}
#sobre_derecha li>span {
    position: relative;
    right: 28px;
    bottom: 1px;
}
#sobre_derecha .HS_email {
  background-color: $whiteSmoke;
  background-image:url($email);
  background-repeat:no-repeat;
  width: 16px;
  height: 16px;
  overflow: hidden;
  right: 9px;
  position: absolute;
  z-index: 10;
  -webkit-transition: width 500ms ease-in;
  transition: width 500ms ease;
}
#sobre_derecha .HS_email:hover {width: 75px;}
.HS_email a {
  padding: 0 21px;
  color: $softRed;
}
