body {
  background: $white;
  font-family: $mainFont;
  font-weight: normal;
  font-size: 14px;
}

.content_container {
}

/*--- • 1 • b REGLAS del CONTENIDO ---------------------------*/

.col_div{
  overflow: hidden;
  font-family: $mainFont;
  position: relative;
  top: 160px;
}
.col_div p,
.col_div span {
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
  text-align: justify;
}
.col_div .imagen{
    position: relative;
    float: right;
    width: 160px;
    height: auto;
}
.col_div>p, .col_div div>p, .col_div iframe, .col_div form, .col_div img {
  margin: 0 35px 32px;
}

.col_div>p:last-child {
  margin-bottom: 0;
}
.col_div h1, .col_div h2, .col_div h3, .col_div h4 {
  margin: 5px 35px;
}

.col_div span {
  margin: 0 35px;
}

.Logos {
    text-align: center;
}

.Logos img {
    margin: 0 30px 32px;
}

/*--- • 1 • c REGLAS de FORMULARIOS --------------------------*/
.col_div form {
    margin-top: 30px;
}
.inputLargo{
    width: 315px;
    margin-bottom: 10px;
    overflow: hidden;
}
.inputCorto{
    width: 155px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}
label{
    font-size: 14px;
    color: $mainRed;
    padding-left: 10px;
    display: block;
    margin-bottom: 3px;
}
label:after{content: ":";}
.similInput label{
    display: inline-block;
    margin-bottom: 0;
    padding-left: 0;
    color: black;
    font-size: 17px;
}
.similInput label:after{content: none;}

form INPUT[type="password"],
form INPUT[type="text"],
form INPUT[type="email"],
.similInput{
    @extend .col-1;
    height: 30px;
    border: none;
    border-bottom: 1px dashed $mainRed;
    background-color: $whiteSmoke;
    font-family: $mainFont;
    font-size: 17px;
    padding-left: 10px;
    -webkit-transition: background 500ms ease;
    transition: background 500ms ease;
}
.similInput INPUT{
    margin: 10px 0 0 0;
}
.similInput div{
padding-top: 6px;
}
form INPUT[type="password"]:focus,
form INPUT[type="text"]:focus,
form INPUT[type="email"]:focus,
select:focus{
    background-color: $mainRed;
    color: white;
    outline: none;
}
input:focus::-webkit-input-placeholder{ color: white; }
input:focus::-moz-placeholder{ color: white; }
input:focus:-ms-input-placeholder{ color: white; }
input:focus:-moz-placeholder{ color: white; }

.col_div .notificacion{
    margin: 0;
    text-align: right;
    padding: 0 15px;
    position: relative;
    bottom: 10px;
}
.notificacion a, .notificacion a:hover, .notificacion a:visited{
    color: $mainRed;
}

.submitArea label, .col_div .submitArea>p{
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0; padding-left: 0;
    color: black;
}
.submitArea label:after{
    content: none;
}
form INPUT[type="submit"]{
    cursor: pointer;
    float: right;
    border: none;
    border-bottom: solid white 1px;
    background: $whiteSmoke;
    font-family: $mainFont;
    color: $mainRed;
    text-align: center;
    font-size: 13px;
    @extend .col-1;
    padding: 9px;
    margin-right: 15px;
    -webkit-box-shadow: #AAA 0px 2px 20px -5px;
    box-shadow: #AAA 0px 2px 20px -5px;
}
form INPUT[type="submit"]:hover,
form INPUT[type="submit"]:focus{
    color: white;
    background-color: $softRed;
    border-bottom: solid $mainRed 2px;
    outline: none;
}


/*--- • 1 • e REGLAS EXCLUSIVAS del CONTENIDO SIN COLUMNAS ---*/
.container_menu {
    background-color: $softRed;
    background-color: $lightRed;
    position: fixed; z-index:1;
    @extend .col-1; height: 55px;
    overflow: hidden;
}

/*.container_menu~.col_none {margin-top:  55px;}*/
.container_menu .faldon_top{
    margin-top: 12px;
}
.container_menu form INPUT{
    float: right;
    width: 250px;
    background: $mainRed;
    color: white;
}
.col_none{
    max-width: 800px;
    margin-left: auto; margin-right: auto;
    margin-top:  55px;
}
.col_none td {
    padding: 6px;
    font-size: 14px;
}
/*--- • 2 • a REGLAS EXCLUSIVAS de la HOME -------------------*/
.col_div.home {
  padding-top: 250px;
}

/*--- • 2 • b REGLAS EXCLUSIVAS de DONANTES ------------------*/


/*--- • 2 • c REGLAS EXCLUSIVAS de ¿QUIENES SOMOS? -----------*/
.col_div.us {
  max-width: 400px;
}

.slogan {width: 330px; height: 80px; position: relative;margin: 80px 35px 60px 35px;}
.col_div .slogan>p, .slogan h2, .slogan h3 {margin:0px; position: absolute; font-weight:bold; color:$mainRed;}
.slogan p {top:48px; left: 0; font-size: 20px;}
.slogan p:first-child {top: 0; left: 0; font-size: 16px;}
.slogan p:nth-child(2) {top: 24px; left: 50px; font-size: 28px;}
.slogan h2 {top: 0; right:1px; font-size: 28px;}
.slogan h3 {top:36px; right:0; font-size: 36px;}
.slogan h3:hover, .slogan h2:hover {font-size: 39px; background:white;}


/*--- • 2 • e REGLAS EXCLUSIVAS de PERFIL de USUARIO ---------*/
.perfil .Secciones > .seleccionada {
    -webkit-animation: initial;
    animation: initial;
}
.perfil .secciones p:last-of-type:after{
    content: none;
}
.perfil h1{
    z-index: 2;
    position: relative;
}
.perfil .Secciones h2:last-of-type,
.perfil .Secciones h2{
    opacity: 1;
    cursor: auto;
    background: url(asset-path("gota.png")) no-repeat;
    height: 38px;
    width: 52px;
    padding: 38px 8px 22px 8px;
    text-align: center;
    color: white;
    z-index: 0;
}
.perfil h3{
    margin-bottom: 25px;
}
.perfil h3:before{
    content: "DNI. ";
    color:  $softRed;
}
.perfil h4{
    color: $softRed;
    font-size: 14px;
}
.perfil h4 a, .perfil h4 a:visited{
    color: $softRed;
}
.perfil h4 a strong, .perfil h4 a:visited strong{
    color: black;
    font-weight: 400;
}
.perfil .Secciones>div:first-child>p{
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 23px;
}
.perfil .badgets h4 {
margin: 0;
padding-top: 12px;
text-align: left;
}
.cambiar{
    cursor: pointer;
    border: none;
    border-bottom: solid white 1px;
    background: $whiteSmoke;
    color: $mainRed;
    text-align: center;
    font-size: 13px;
    width: 100px;
    padding: 9px;
    -webkit-box-shadow: #AAA 0px 2px 20px -5px;
    box-shadow: #AAA 0px 2px 20px -5px;
    position: absolute;
    bottom: 34px;
}
.perfil .submitArea {
    height: 42px;
    margin-top: 14px;
}
.botonONG{
    display: block;
    position: absolute;
    bottom: 36px;
    font-family: $mainFont;
    font-size: 14px;
    right: 75px;
    color: white;
    font-weight: 300;
    background-color: $mainRed;
    padding: 4px;
}

/*--- • 2 • f REGLAS EXCLUSIVAS de LISTA DE ONGS -------------*/
.banco {
    border: solid 1px $whiteSmoke;
    margin: 62px 4px;
    padding: 22px 8px;
    -webkit-box-shadow: 0 35px 35px -35px #699;
    box-shadow: 0 30px 35px -35px #699;
    position: relative;
}
.banco:first-child {
    margin-top: 95px;
}
.banco h2{
    font-size: 24px;
    margin: 15px 0;
}
.banco h3{
    font-size: 18px;
    color: $softRed;
}
.banco h4, .ficha_banco p{
    font-size: 14px;
    font-weight: 300;
    margin: 11px 0;
}
.ficha_banco p{
    padding-left: 5px;
}
.ficha_banco {
    float: right;
    width: 65%;
    padding-left: 8px;
}
.reservar a{
    height: 48px;
    width: 60px;
    border-radius: 50%;
    background-color: $whiteSmoke;
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-align: center;
    padding-top: 12px;
    transition: background-color 500ms ease;
}
.reservar a, .reservar a:visited{color: $mainRed;}
.reservar a:hover{color: white; background-color: $mainRed;}

/*--- • 3 • a REGLAS de la BARRA DE PORCENTAJES --------------*/
.campania{
    letter-spacing: 1px;
    width: 69%;
    font-weight: 300;
    font-size: 14px;
    color: white;
    margin-left: 1%;
    margin-bottom: 6px;
    display: inline-block;
}
.campania:before{ content: "Donantes en: "; font-weight:400;}
.banco .campania{color: black;}
.banco .campania:before{content: "";}

.faltandias{
    position: relative;
    width: 29%;
    font-size: 14px;
    color: $softRed;
    text-align: right;
    margin-right: 1%;
    margin-bottom: 6px;
    display: inline-block;
}
.faltandias:before{content: "faltan ";}
.faltandias:after{content: " días";}

.bar-main-container {
    width: 99%;
    font-family: $mainFont;
    text-align: left;
    margin: 0 auto;
}

.bar-container {
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 37px;
    background: $softRed;
    @extend .col-1;
    overflow: hidden;
    border: solid 1px white;
    color: white;
}

.bar, .registrados, .objetivo{ font-size: 20px; line-height: 2;}
.bar {
    float: left;
    height: 100%;
    position:relative;
}
.bar div {
    background: $mainRed;
    height: 100%;
    @extend .col-1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: right;
    -webkit-animation: ensanchar 3s;
    animation: ensanchar 3s;
}
.bar div:after{
  content: " ";
  background: url(asset-path('gotas.png')) 0px 1px no-repeat;
  display: inline-block;
  width: 20px; height: 27px;
  position:relative; top:2px;
  margin: 0 10px;
}

.objetivo:before , .registrados:after{
  font-size: 13px;
  font-weight: 300;
}
.objetivo{
  position: absolute;
  right:6px;
}

.registrados{
  position: absolute;
  left:1px;
  padding: 0 9px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: $mainRed;
  height: 36px;
}
.registrados:after {content:" REGISTRADOS";}
.objetivo:before {content:"OBJETIVO: ";}

/*--- • 3 • b REGLAS de la GOTA ------------------------------*/
.columna {
  .boton_donar{
    margin-top: 250px;
  }
}



/*--- • 3 • c REGLAS de los BADGETS --------------------------*/
.badgets {
    margin: 0 35px 14px 35px;
    text-align: center;
    border-top: dashed #AAA 1px;
    border-bottom: dashed #AAA 1px;
}
.badget {
    width:54px; height:54px;
    border-radius: 27px;
    background: $mainRed;
    margin: 10px;
    overflow: hidden;
    transition: width 0.5s ease, border-radius 0.3s ease;
    display:inline-block;
    text-align: left;
}
.badget:hover {
    width:155px;
    border-radius: 0;
}
.medalla {
  display: inline-block;
  width: 45px; height: 54px;
  background: url(https://lh6.googleusercontent.com/-bIbraxlvFZk/U_juf3QT3sI/AAAAAAAAQTo/e0BskWTQtfM/w46-h277-no/badgets.png) no-repeat 50% 6px;
  margin-left: 7px;
}
.descripcion{
    display: inline-block;
    position: relative;
    bottom: 3px;
}
.col_div .descripcion>p{
    font: 12px arial;
    font-weight: bold;
    margin: 0 0 0 9px;
}
.descripcion p span{
  font: 11px arial;
  font-weight: normal;
  font-style: italic;
  color: $whiteSmoke;
}

/*colores por tema */
.bronce {background-color: $bronce;}
.plata {background-color: $plata;}
.oro {background-color: $oro;}
.azul {background-color: $azul;}

/*medallas por tema */
.bronce .medalla{ background-position: 50% -51px;}
.oro .medalla{ background-position: 50% -169px;}
.plata .medalla{ background-position: 50% -112px;}
.azul .medalla{ background-position: 50% -229px;}

.sin{
  background-color: $whiteSmoke !important;
}

/* • 4 ANIMACIONES -------------------------------------------*/
@-webkit-keyframes ensanchar{from {width: 30%} to {width: 100%}}
@keyframes ensanchar{from {width:1%;} to {width: 100%}}
@-webkit-keyframes noscroll {
    from {height:1px; min-height: inherit;}
    to {height:140px; min-height: inherit;}}
@keyframes noscroll{
    from {height: 1px; min-height: inherit;}
    to {height: 140px; min-height: inherit;}}


/* Calendario */
.calendario {
  float:right;
  margin: 10px 25px 0 0;
}
.calendario tr {

}
.calendario tr th {
  padding: 5px 10px 5px 10px;
}
.calendario tr td{
  padding-top: 15px;
  text-align: center;
}
.calendario tr td a{
  font-size: 25px;
}

.listado_meses {
  float: right;
  margin: 50px 25px 0 0;
}

.listado_meses ul {

}

.listado_meses ul li {
  display: inline;
  background-color: $whiteSmoke;
}


.col_der {
  background: $white;
  padding-left: 50%;
  padding: 5px 10px 25px 10px;

}

.col_izq {
  height: auto;
  background: $softRed;
  display: inline-block;
  vertical-align: top;

  .boton_donar {
    @include gota_donar;
    position: relative;
    left: 0;
    bottom: 0;
    display: block;
  }
}

@media (min-width: 768px) {
  .col_der {
    &.columna {
      min-height: 805px;
    }
  }

  .col_izq {
    background: $softRed;
    bottom: 0;
    min-height: 1024px;
    padding-right: 0;
    padding-left: 2%;
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;

    .boton_donar {
      @include gota_donar;
      position: none;
    }
  }

}

@media (min-width:1200px) {
  .col_izq .boton_donar {
    display: block;
    left: 3%;
    top: 40%;
  }
}
