// Screen
// ======

@import "compass";

//bootstrap
@import "bootstrap-sprockets";
@import "bootstrap";

// variables
@import "variables";

//mixins
@import "mixin";

// project
@import "header";
@import "main";
@import "forms";
@import "footer";

//views

@import "static/home";
@import "static/how_works";
@import "static/about_us";
@import "static/donors";
@import "sessions/new";
@import "registrations/new";
@import "users/show";
@import "ongs/new";
@import "ongs/ong_search";
@import "ongs/ong_calendar";
@import "ongs/show";
@import "ongs/edit";
