<div class="row">
  <div class="col-xs-12 col-sm-3 menu-column hidden-xs">
    <%= render partial: 'shared/ong_my_banks_menu', locals:{ong: @ong ,selectedOng: @ong }%>
    <div class="users-gota-donar">
      <%= render partial: 'shared/gota_donar' %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-9">
    <div class="container-myaccount-custom registrarse">
      <h1><strong>DATOS DE USUARIO</strong></h1>
      <%= render 'form' %>
    </div>
  </div>
</div>