<div>
    <h2 class="seleccionada">ANTES DE DONAR</h2>
    <ul class="seleccionada">
        <li><strong>ALIMENTACIÓN</strong> Tene un BUEN DESAYUNO(sólo evita consumir lácteos y grasas)</li>
        <li><strong>DESCANSO</strong> Es necesario haber DORMIDO al menos 6 horas</li>
        <li><strong>EJERCISIOS FÍSICOS</strong> Evita el esfuerzo físico excesivo días antes (si no podes evitarlo, comunicalo el día de tu donación)</li>
        <li><strong>HABLA</strong> Si tomaste algún medicamento o sentís síntomas de infección es IMPORTANTE comunicarlo. Así como tambien si te sentís nervioso.</li>
    </ul>
    <h2>DESPUES DE DONAR</h2>
    <ul>
        <li><strong>BEBIDAS</strong> Tomá mas liquído que lo habitual(NO CONSUMAS ALCOHOL)</li>
        <li><strong>DESCANSO</strong> Los esfuerzos físicos y la gimnasia pueden provocar síntomas inversos. Evitá los mismos al menos 24 horas</li>
        <li><strong>GASA</strong> No retires tu vendaje hasta pasadas las 4 horas (podría presentarse un hematoma en el lugar de la punción)</li>
        <li><strong>HABLA</strong> Si luego de haber donado sentis síntomas de infección comunícaselo al centro de donación.</li>
    </ul>
    <div class="bolsa"></div>
</div>