<div>
    <h3>De donar sangre:</h3>
    <p>Cada donación de sangre puede <strong>ayudar a hasta 3 personas</strong>. Estudios clínicos afirman que ser donante <strong>es una buena forma de limpiar tu sangre</strong> y reducir las probabilidades de padecer ataques cardíacos y accidentes cardiovasculares.</p>
    <h3>De donar en forma voluntaria y habitual:</h3>
    <p>Asegura una provisión adecuada y constante de sangre en el sistema de salud. Y evita que los receptores de transfusiones (accidentados o personas sometidas a cirugía) y sus familias sean responsable de “reponer” la sangre utilizada.
    <br /><strong>Mejora el funcionamiento de los bancos de sangre</strong>, permitiendo mejor planificación en el proceso de extracción, procesamiento y distribución.
    <br />Genera ahorros económicos al reducir las tasas de descarte por sangre no apta para uso. Los donantes voluntarios y habituales están mejor informados y su sangre es (estadísticamente) más segura que la de los donantes ocasionales.
    <br />En resumen, <strong>aumenta la eficiencia y seguridad de todo el proceso de donación</strong>, tratamiento, y transfusión de sangre, mejorando esta parte vital del sistema de salud.</p>
</div>