<div>
	<h4>Cada donación de sangre puede salvar a entre 1 y 3 personas.</h4>
	<p></p>
	<h4>Donando sangre en forma voluntaria y habitual (cada 3 meses):</h4>
	<div class="Listado">
		<ol>
			<li>Alivias a las familias de enfermos o accidentados de la presión por reponer la sangre que han utilizado ("reposición").</li>
			<li>Reduces costos y riesgos en el sistema de salud: está comprobado que la sangre de donantes voluntarios es más segura que la de donantes de reposición.</li>
			<li>Aseguras un stock constante de sangre para enfrentar las necesidades de tu comunidad.</li>
		</ol>
	</div>
	<p>En resumen, ayudas a mejorar el funcionamiento de los bancos de sangre, aumentando la eficiencia y seguridad de todo el proceso de donación, tratamiento, y transfusión de sangre, mejorando así esta parte vital del sistema de salud.</p>
</div>