<div>
    <p>Los estudios clínicos han afirmado que ser donante es una buena alternativa para limpiar tu sangre, reducir las probabilidades de padecer ataques cardíacos y accidentes cardiovasculares. Los adultos con colesterol encuentran en la donación de sangre una excelente opción para depurar los triglicéridos malos y que se formen buenos.<br />
    Además, permite que se eliminen las cantidades de hierro que “sobran” en el organismo, siendo muy bueno para el corazón y las venas, beneficiando a todo el aparato circulatorio. Donando sangre cada 6 meses durante 6 años, se reduce en casi un 90% la probabilidad de padecer enfermedades coronarias o circulatorias.</p>
</div>