<div>
    <h3>1 DONANTE = 4 HERMANOS</h3>
    <p>Como la sangre que donas puede ser clasificada en 4 tipos diferentes de grupos, con sólo UNA VEZ que dones podes ayudar a 4 PERSONAS DIFERENTES a obtener lo que necesiten.</p>
    <h3>ANÁLISIS</h3>
    <p>Los tubos que contienen las muestras de sangre de tu donación se someten a una serie de estudios de laboratorio. Se realiza la clasificación de grupo y factor sanguíneo y la investigación de anticuerpos irregulares.</p>
    <h3>ALMACENAMIENTO</h3>
    <p> Los tubos que contienen las muestras de sangre de tu donación se someten a una serie de estudios de laboratorio.<br /> Se realiza la clasificación de grupo y factor sanguíneo y la investigación de anticuerpos irregulares.</p>
</div>