<div>
    <h3>ANÁLISIS</h3>
    <p>Los tubos que contienen las muestras de sangre de tu donación se someten a una serie de estudios de laboratorio. Se realiza la clasificación de grupo y factor sanguíneo y la investigación de anticuerpos irregulares.</p>
    <h3>ALMACENAMIENTO</h3>
    <p> Los tubos que contienen las muestras de sangre de tu donación se someten a una serie de estudios de laboratorio. Se realiza la clasificación de grupo y factor sanguíneo y la investigación de anticuerpos irregulares.</p>
</div>