<div>
    <p class="cota">*Según las Normas de la AAHI, actualizadas con las Normas Técnicas y Administrativas de Hemoterapia – Resolución 865/2006.</p>
    <ol>
      <li>Tener al menos 18 años y no más de 65.</li>
      <li>Una estatura mínima de 1,50 metros Peso de 50 kg</li>
      <li>No haberse sometido a cirugías en los últimos tres meses</li>
      <li>No estar embarazada, amamantando o menstruando</li>
      <li>Gozar de buena salud, no estar enfermo ni haber ingerido un medicamento en los últimos 3 días</li>
      <li>Diabeticos o personas con presión alta pueden donar siempre bajo tratamiento médico.</li>
      <li>No haberse realizado tatuajes o piercings en el último año</li>
      <li>No ser adicto a drogas</li>
    </ol>
    <p>Los requisitos pueden variar entre un banco de sangre y otro. Infórmate bien antes de ir a donar.</p>
</div>