<div>
    <p>Tener al menos 18 años y no más de 65, Una estatura mínima de 1,50 metros Peso de 50 kg</p>
    <p>No haberse sometido a cirugías 
en los últimos tres meses</p>
    <p>Si se padece de diabetes o presión alta se puede donar siempre que esté bajo tratamiento médico.</p>
    <p>No estar embarazada, amamantando o menstruando</p>
    <p>Gozar de buena salud, no estar enfermo ni haber ingerido un medicamento en los últimos 3 días</p>
    <p>No haberse realizado tatuajes o piercings en el último año</p>
    <p>No ser adicto a drogas</p>
</div>