/*--- • 2 • e REGLAS EXCLUSIVAS de PERFIL de USUARIO ---------*/

.banco {
  -webkit-box-shadow: 0 35px 35px -35px #699;
  border: solid 1px $whiteSmoke;
  box-shadow: 0 30px 35px -35px #699;
  color: $white;
  margin-bottom: 20px;
  margin: 62px 4px;
  padding: 22px 8px;
  position: relative;
}
.ongs {
  .banco {
    color: $black;
  }
}

.banco h2 {
  font-size: 24px;
  margin: 15px 0;
}
.banco h3 {
  font-size: 18px;
}
.banco h4, .ficha_banco p {
  font-size: 14px;
  font-weight: 300;
  margin: 11px 0;
}
.ficha_banco p {
  padding-left: 5px;
}
.ficha_banco {
  float: right;
  width: 65%;
  padding-left: 8px;
}

.perfil {
  margin-top: 0;
}
.perfil .Secciones > .seleccionada {
  -webkit-animation: initial;
  animation: initial;
  width: 100%;
  margin: 0;
}
.perfil .secciones p:last-of-type:after {
  content: none;
}
.perfil h1 {

}
.perfil .Secciones h2:last-of-type, .perfil .Secciones h2 {
  opacity: 1;
  cursor: auto;
  background: url(asset-path("gota.png")) no-repeat;
  height: 38px;
  width: 52px;
  padding: 38px 8px 22px 8px;
  text-align: center;
  color: $white;
  z-index: 0;
}
.perfil h3 {
  margin-bottom: 25px;
}
.perfil h3:before {
  content: "DNI. ";
  color: $softRed;
}
.perfil h4 {
  color: $softRed;
  font-size: 14px;
}
.perfil h4 a, .perfil h4 a:visited {
  color: $softRed;
}
.perfil h4 a strong, .perfil h4 a:visited strong {
  color: black;
  font-weight: 400;
}
.perfil .Secciones>div:first-child>p {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 23px;
}
.perfil .badgets h4 {
  margin: 0;
  padding-top: 12px;
  text-align: left;
}

.input-submit {
  background: $whiteSmoke;
  border-bottom: solid $white 1px;
  border: none;
  box-shadow: $plata 0px 2px 20px -5px;
  -webkit-box-shadow: $plata 0px 2px 20px -5px;
  color: $mainRed;
  cursor: pointer;
  font-size: 1em;
  padding: 9px;
  margin-right: 5px;
  text-align: center;
}

.cambiar {
  @extend .input-submit;
  position: absolute;
  bottom: 34px;
  right: 10px;
}



.perfil .submitArea {
  height: 42px;
  margin-top: 14px;
}

ul.ong_botones {
    position: static;
}
.botonONG {
  margin-top: 80px;
  width: 300px;
  background-color: $mainRed;
  color: $white;
  display: none;
  font-weight: lighter;
  padding: 4px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/*--- • 3 • c REGLAS de los BADGETS --------------------------*/
.badgets {
  text-align: center;
  border-top: dashed $plata 1px;
  border-bottom: dashed $plata 1px;
}

.badgets-title {
  text-align: left;
}

.badget {
  width: 54px;
  height: 54px;
  border-radius: 27px;
  background: $mainRed;
  margin: 10px;
  overflow: hidden;
  transition: width 0.5s ease, border-radius 0.3s ease;
  display: block;
  text-align: left;
}
.badget:hover {
  width: 155px;
  border-radius: 27px;
}
.medalla {
  display: inline-block;
  width: 45px;
  height: 54px;
  background: url(https://lh6.googleusercontent.com/-bIbraxlvFZk/U_juf3QT3sI/AAAAAAAAQTo/e0BskWTQtfM/w46-h277-no/badgets.png) no-repeat 50% 6px;
  margin-left: 7px;
}
.descripcion {
  display: inline-block;
  position: relative;
  top: 8px;
  left:0;
}
.col_div .descripcion>p {
  font: 12px arial;
  font-weight: bold;
  margin: 0 0 0 9px;
}
.descripcion p span {
  font: 11px arial;
  font-weight: normal;
  font-style: italic;
  color: $whiteSmoke;
}

/*colores por tema */
.bronce {
  background-color: $bronce;
}
.plata {
  background-color: $plata;
}
.oro {
  background-color: $oro;
}
.azul {
  background-color: $azul;
}

/*medallas por tema */
.bronce .medalla {
  background-position: 50% -51px;
}
.oro .medalla {
  background-position: 50% -169px;
}
.plata .medalla {
  background-position: 50% -112px;
}
.azul .medalla {
  background-position: 50% -229px;
}
.sin {
  background-color: $whiteSmoke !important;
}

@media (min-width: 768px) {

  .perfil .Secciones > .seleccionada {
    margin: 60px auto 0 auto;
    width: 400px;
  }

  .badget {
    display: inline-block;
  }

  .badgets {
    margin: 0 35px 14px 35px;
  }

  .badgets-title {
    margin: 0 35px 14px 35px;
  }

  .botonONG {
    display: block;
  }

  .col_izq .users-gota-donar .boton_donar {
    display: block;
  }
}

/* • 4 ANIMACIONES -------------------------------------------*/
@-webkit-keyframes ensanchar {
  from {
    width: 30%
  }
  to {
    width: 100%
  }
}
@keyframes ensanchar {
  from {
    width: 1%;
  }
  to {
    width: 100%
  }
}
@-webkit-keyframes noscroll {
  from {
    height: 1px;
    min-height: inherit;
  }
  to {
    height: 140px;
    min-height: inherit;
  }
}
@keyframes noscroll {
  from {
    height: 1px;
    min-height: inherit;
  }
  to {
    height: 140px;
    min-height: inherit;
  }
}
