html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.main_container{
    position: relative;
    width: 100%;
    height: auto;
}

.faldon_top_container{
    position: relative;
    width: 100%;
    background: #000;
    height: 70px;
}

.faldon_top{
    position: relative;
    width: 800px;
    height: 70px;
    margin: 0 auto;
}

.logo_top_container{
    position: absolute;
    top: 50%;
    left: 0;
    width: 136px;
    height: 65px;
    z-index: 9999;
}

.textos_container{
    position: relative;
    width: 645px;
    float: right;
    margin-top: 44px;
}

.texto_faldon{
    position: relative;
    display: block;
    float: left;
    margin-right: 20px;
    font: 14px Arial;
    color: #fff;
    text-decoration: none;
}

.derecha{
    float: right !important;
}

.content_container{
    position: relative;
    width: 100%;
    height: 600px;
}

.boton_donar{
    position: relative;
    width: 282px;
    height: 316px;
    display: block;
    margin: 0 auto;
    margin-top: 275px;
    float: right;
    margin-right: 55px;
}

.columna{
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}

.col_izq{
    background: #cb666a;
}

.col_der{
    background: #fff;
}

.text_home_container{
    position: relative;
    font: italic 12px Arial;
    color: #000;
    width: 330px;
    height: auto;
    margin-bottom: 25px;
    text-align: justify;
    margin-left: 38px;
    margin-top: 275px;
}

.video_container{
    position: relative;
    width: 300px;
    height: 160px;
    background: grey;
    margin-left: 38px;
}

.barra_container{
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    margin: auto auto;
    width: 800px;
    height: 69px;
    z-index: 999999;
}

.localidad{
    position: relative;
    width: 97%;
    height: 14px;
    font-family: Arial;
    font-weight: normal;
    font-size: 0.9em;
    color: #FFF;
    padding-left: 1%;
    margin-bottom: 6px;
}

/*estos son los específicos de la barra--------------------*/

.bar-main-container {
    width: 800px;
    height: 39px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 0.8em;
    color: #FFF;
    text-align: center;
}

.wrap { padding: 0; }

.bar-percentage {
    float: left;
    background: rgba(0,0,0,0.13);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 9px 0px;
    width: 0;
    height: 0;
    overflow: hidden;
}

.bar-container {
    float: right;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 37px;
    background: #cb666a;
    width: 100%;
    overflow: hidden;
    border: solid 1px #fff;
    text-align: right;
    line-height: 2.9;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1em;

}

.bar {
    float: left;
    background: #bf524d;
    height: 100%;
    -webkit-border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    border-radius: 8px;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1em;
    line-height: 2.9;
    text-align: center;
}


/*dropdown menu css----------------------*/

/*Initialize*/
ul#menu, ul#menu ul.sub-menu {
    padding:0;
    margin: 0;
}
ul#menu li, ul#menu ul.sub-menu li {
    list-style-type: none;
    display: inline-block;
}
/*Link Appearance*/
ul#menu li ul.sub-menu li a {
    text-decoration: none;
    color: #cb666a;
    padding: 5px;
    display:inline-block;
    font: 14px Arial;
}

ul#menu li a{
    color: #fff;
    text-decoration: none;
    padding: 5px;
    display:inline-block;
    font: 14px Arial;
}
/*Make the parent of sub-menu relative*/
ul#menu li {
    position: relative;
}
/*sub menu*/
ul#menu li ul.sub-menu {
    display:none;
    position: absolute;
    left: 0;
    width: 100px;
}
ul#menu li:hover ul.sub-menu {
    display:block;
}

ul,li{
    z-index: 9999999999;
}

.sobre_derecha{
    float: right;
}

ul.sub-menu li{
    background: #fff;
    width: 125px;
    height: 25px;
}

/*-----------*/

.h_container{
    position: relative;
    margin-bottom: 50px;
    width: 100%;
    height: auto;
    text-align: center;
}

h1{
    font: 30px Arial;
    font-weight: normal;
    color: #000;
    text-align: center;
    margin-bottom: 10px;
}

.inputs_container{
    position: relative;
    width: 300px;
    margin-left: 30px;
}

.inputs_container INPUT{
    position: relative;
    width: 100%;
    height: 30px;
    border: solid 1px #000;
    margin-bottom: 10px;
    font-size: 1em;
    padding-left: 15px;
}

.email_input{
    width: 298px;
    height: 30px;
    border: solid 1px #000;
    font-size: 17px;
    margin-bottom: 20px;
    font-family: Arial;
    padding-left: 5px;
}

.titulo_ingresar{
    position: relative;
    width: 100%;
    margin-top: 300px;
    margin-left: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}

.btn_ingresar{
    position: relative;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 120px;
}

.infos_container{
    position: relative;
    width: 350px;
    margin-left: 38px;
    margin-top: 275px;
}

.col_texto{
    position: relative;
    float: left;
    width: 140px;
    height: auto;
}

.img_container{
    position: relative;
    float: right;
    width: 160px;
    height: auto;
}

.titulo_nosotros{
    position: relative;
    font: 14px Arial;
}

.descr_nosotros{
    position: relative;
    font: 11px Arial;
    margin-top: 10px;
    margin-bottom: 15px;
}

.logos_nosotros{
    position: relative;
    width: 350px;
    height: auto;
}
/* line 1, /home/tebayoso/workspace/bloodbrothers/app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /home/tebayoso/workspace/bloodbrothers/app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /home/tebayoso/workspace/bloodbrothers/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /home/tebayoso/workspace/bloodbrothers/app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 23, /home/tebayoso/workspace/bloodbrothers/app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 26, /home/tebayoso/workspace/bloodbrothers/app/assets/stylesheets/scaffolds.css.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, /home/tebayoso/workspace/bloodbrothers/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, /home/tebayoso/workspace/bloodbrothers/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 42, /home/tebayoso/workspace/bloodbrothers/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, /home/tebayoso/workspace/bloodbrothers/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, /home/tebayoso/workspace/bloodbrothers/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, /home/tebayoso/workspace/bloodbrothers/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

