  <table id='calendar' class="calendario">
    <tr>
      <th>DOM</th>
      <th>LUN</th>
      <th>MAR</th>
      <th>MIE</th>
      <th>JUE</th>
      <th>VIE</th>
      <th>SAB</th>
    </tr>
    <tr>
      <% @beginning_of_month = Date.civil(year, month, 1) %>
      <% @end_of_month = Date.civil(year, month, -1) %>
      <% (@beginning_of_month..@end_of_month).each do |d| %>
        <% if d == @beginning_of_month %>
          <% d.wday.times do %>
            <td>
            </td>
          <% end %>
        <% end %>
        <% if d.wday == 0 %>
          </tr>
          <tr>
        <% end %>
        <td>
          <%= link_to d.day, ong_day_bookings_path(year: year, month: month, day: d.day), :remote => true %>
        </td>
      <% end %>
    </tr>
  </table>
