<%= form_for([@ong, @booking]) do |f| %>
  <p>
    <%= f.label 'start_time', 'Start time' %>
    <%= f.datetime_select :start_time, { minute_step: 30 } %>
  </p>
  <%= f.submit 'Submit' %>
<% end %> 
