<%= form_for([@ong, @booking]) do |f| %>
    <p>
      <%= f.label 'start_time', 'Solicite su turno' %>
      <%= f.datetime_select :start_time, { minute_step: 30 } %>
    </p>
    <p><%= f.submit 'Reservar' %></p>
<% end %> 