<h3>Reservas para <%= @ong.name %> <%= params[:date] %></h3>
  <table class="bookings_table">
  <% 8.step(20, 0.5) do |hour| %>
    <tr>
      <td><%= "#{hour}" %></td>
      <td>
        <%= link_to "Nuevo Turno", new_ong_booking_path(@ong) %></td>
      </td>
    </tr>
  <% end %>
  </table>
  <div>
  </div>
