<div class="row">
    <div class="col-xs-12 col-sm-3 menu-column hidden-xs">
        <%= render partial: 'shared/ong_my_banks_menu' , locals:{selectedOng: nil}%>
        <div class="users-gota-donar">
            <%= render partial: 'shared/gota_donar' %>
        </div>
    </div>
    <div class="col-xs-12 col-sm-9">
        <div class="configuracion-calendario">
            <h3>Calendario</h3>
            <span>Configuración actual con disponibilidad: </span><span class="titulo-rosa">X donantes por turno</span>

            <div class="tabla-calendario">
              <table>
                <thead>
                  <tr>
                    <th></th>
                    <th>LUNES</th>
                    <th>MARTES</th>
                    <th>MIERCOLES</th>
                    <th>JUEVES</th>
                    <th>VIERNES</th>
                    <th>SABADO</th>
                    <th>DOMINGO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">8.00</th>
                    <td class="habilitado"></td>
                    <td class="habilitado"></td>
                    <td class="habilitado"></td>
                    <td class="deshabilitado"></td>
                    <td class="habilitado"></td>
                    <td class="habilitado"></td>
                    <td class="deshabilitado"></td>
                  </tr>
                  <tr>
                    <th scope="row">8.30</th>
                    <td class="habilitado"></td>
                    <td class="habilitado"></td>
                    <td class="habilitado"></td>
                    <td class="habilitado"></td>
                    <td class="habilitado"></td>
                    <td class="habilitado"class="habilitado"></td>
                    <td class="deshabilitado"></td>
                  </tr>
                  <tr>
                    <th scope="row">9.00</th>
                    <td class="habilitado"></td>
                    <td class="habilitado"></td>
                    <td class="habilitado"></td>
                    <td class="habilitado"></td>
                    <td class="habilitado"></td>
                    <td class="habilitado"></td>
                    <td class="deshabilitado"></td>
                  </tr>
                </tbody>
              </table>
            </div>

        </div>
    </div>
</div>
