<div class="columna col_izq">
  <%= render partial: 'calendar', locals: { year: 2014, month: 10 } %>
</div>
<div id="bookings" class="columna col_der">
  <%= render partial: 'turnos_dia', locals: { turnos: @bookings } %>
</div>
