<div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 menu-column hidden-xs">
        <%= render partial: 'shared/ong_my_banks_menu' , locals:{selectedOng: nil}%>
        <div class="users-gota-donar">
            <%= render partial: 'shared/gota_donar' %>
        </div>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-7">
        <div class="configuracion-calendario">
            <div class="margen-inferior">
                <h3>Calendario</h3>
                <span>Configuración actual con disponibilidad: </span><span class="titulo-rosa">X donantes por turno</span>
            </div>
          <p class="semana"> < 20 - 26 Abril 2015 > </p>
          <table class="tabla-calendario margen-inferior">
            <thead>
              <tr>
                <th></th>
                <th class="dia lunes dia-habilitado">LU 20</th>
                <th class="dia martes dia-habilitado">MA 21</th>
                <th class="dia miercoles dia-habilitado">MI 22</th>
                <th class="dia jueves">JU 23</th>
                <th class="dia viernes dia-habilitado">VI 24</th>
                <th class="dia sabado dia-habilitado">SA 25</th>
                <th class="dia domingo">DO 26</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">8.00</th>
                <td class="lunes habilitado"></td>
                <td class="martes habilitado"></td>
                <td class="miercoles habilitado">3<i></i></td>
                <td class="jueves deshabilitado"></td>
                <td class="viernes habilitado"></td>
                <td class="sabado habilitado">2<i></i></td>
                <td class="domingo deshabilitado"></td>
              </tr>
              <tr>
                <th scope="row">8.00</th>
                <td class="lunes habilitado"></td>
                <td class="martes habilitado"></td>
                <td class="miercoles habilitado"></td>
                <td class="jueves deshabilitado"></td>
                <td class="viernes habilitado"></td>
                <td class="sabado habilitado"></td>
                <td class="domingo deshabilitado"></td>
              </tr>
              <tr>
                <th scope="row">8.00</th>
                <td class="lunes habilitado completo">4<i></i></td>
                <td class="martes habilitado"></td>
                <td class="miercoles habilitado">3<i></i></td>
                <td class="jueves deshabilitado"></td>
                <td class="viernes habilitado"></td>
                <td class="sabado habilitado"></td>
                <td class="domingo deshabilitado"></td>
              </tr>
            </tbody>
          </table>

        <div class="margen-izquierdo margen-inferior">
            <div>
                <div class="cuadrado habilitado"></div>
                <span class="opciones-calendario">Turnos disponibles</span>
            </div>
            <div>
                <div class="cuadrado deshabilitado"></div>
                <span class="opciones-calendario">Turnos bloqueados</span>
            </div>
        </div>


       <div class="borde">
            <table class="tabla-calendario margen-superior">
                <thead><tr></tr></thead>
                <tbody>
                  <tr>
                    <th scope="row">Total donantes</th>
                    <td class="habilitado total lunes"></td>
                    <td class="habilitado total martes"></td>
                    <td class="habilitado total miercoles"></td>
                    <td class="habilitado total jueves"></td>
                    <td class="habilitado total viernes"></td>
                    <td class="habilitado total sabado"></td>
                    <td class="habilitado total domingo"></td>
                  </tr>
                </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
