<div class="columna col_izq">
  <%= render partial: 'calendar', locals: { year: 2014, month: 11 } %>
</div>
<div id="bookings" class="columna col_der">
  <% if params[:date] %>
    <%= render partial: 'turnos_dia', locals: { turnos: @bookings } %>
  <% else %>
    <h3>Seleccione el dia del calendario para ver los turnos disponibles<h3>
  <% end %>
</div>
