<div class="configuracion-calendario">
  <div class="margen-inferior">
    <h3>Calendario</h3>
    <span>Configuración actual con disponibilidad: </span><span class="titulo-rosa">4 donantes por turno</span>
  </div>
  <div class="semana">
    <span class="semana-anterior"><</span>
    <p class="texto-semana"></p>
    <span class="semana-posterior">></span>
  </div>
  <table id="calendario" class="tabla-calendario margen-inferior">
    <thead>
      <tr>
        <th></th>
        <th class="dia"></th>
        <th class="dia"></th>
        <th class="dia"></th>
        <th class="dia"></th>
        <th class="dia"></th>
        <th class="dia"></th>
        <th class="dia"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">8.00</th>
        <td class="habilitado"></td>
        <td class="habilitado"></td>
        <td class="habilitado">3<i></i></td>
        <td class="deshabilitado"></td>
        <td class="habilitado"></td>
        <td class="habilitado">2<i></i></td>
        <td class="deshabilitado"></td>
      </tr>
      <tr>
        <th scope="row">8.30</th>
        <td class="habilitado"></td>
        <td class="habilitado"></td>
        <td class="habilitado"></td>
        <td class="deshabilitado"></td>
        <td class="habilitado"></td>
        <td class="habilitado"></td>
        <td class="deshabilitado"></td>
      </tr>
      <tr>
        <th scope="row">9.00</th>
        <td class="habilitado completo">4<i></i></td>
        <td class="habilitado"></td>
        <td class="habilitado">3<i></i></td>
        <td class="deshabilitado"></td>
        <td class="habilitado"></td>
        <td class="habilitado"></td>
        <td class="deshabilitado"></td>
      </tr>
    </tbody>
  </table>
  <div class="margen-izquierdo margen-inferior">
    <div>
      <div class="cuadrado habilitado"></div>
      <span class="opciones-calendario">Turnos disponibles</span>
    </div>
    <div>
      <div class="cuadrado deshabilitado"></div>
      <span class="opciones-calendario">Turnos bloqueados</span>
    </div>
    <div>
      <div class="cuadrado completo"></div>
      <span class="opciones-calendario">Turnos ocupados</span>
    </div>
  </div>
  <div class="borde">
    <table id="totales-calendario" class="tabla-calendario margen-superior">
      <thead>
      <tr></tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Total donantes</th>
        <td class="total habilitado"></td>
        <td class="total habilitado"></td>
        <td class="total habilitado"></td>
        <td class="total habilitado"></td>
        <td class="total habilitado"></td>
        <td class="total habilitado"></td>
        <td class="total habilitado"></td>
      </tr>
    </tbody>
  </table>
</div>
</div>