<div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 menu-column hidden-xs">
        <%= render partial: 'shared/ong_my_banks_menu' , locals:{selectedOng: nil}%>
        <div class="users-gota-donar">
            <%= render partial: 'shared/gota_donar' %>
        </div>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-7">
        <div class="configuracion-calendario">
            <div class="margen-inferior">
                <h3>Calendario</h3>
                <span>Configuración actual con disponibilidad: </span><span class="titulo-rosa">X donantes por turno</span>
            </div>
          <p class="semana"> < 20 - 26 Abril 2015 > </p>
          <table class="tabla-calendario margen-inferior">
            <thead>
              <tr>
                <th></th>
                <th>LU 20</th>
                <th>MA 21</th>
                <th>MI 22</th>
                <th>JU 23</th>
                <th>VI 24</th>
                <th>SA 25</th>
                <th>DO 26</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">8.00</th>
                <td class="habilitado"></td>
                <td class="habilitado">3</td>
                <td class="habilitado">3<i></i></td>
                <td class="deshabilitado"></td>
                <td class="habilitado"></td>
                <td class="habilitado"></td>
                <td class="deshabilitado"></td>
              </tr>
              <tr>
                <th scope="row">8.30</th>
                <td class="habilitado"></td>
                <td class="habilitado"></td>
                <td class="habilitado"></td>
                <td class="habilitado"></td>
                <td class="habilitado"></td>
                <td class="habilitado"></td>
                <td class="deshabilitado"></td>
              </tr>
              <tr>
                <th scope="row">9.00</th>
                <td class="habilitado"></td>
                <td class="habilitado"></td>
                <td class="habilitado"></td>
                <td class="habilitado"></td>
                <td class="completo">4<i></i></td>
                <td class="habilitado"></td>
                <td class="deshabilitado"></td>
              </tr>
            </tbody>
          </table>

        <div class=" margen-izquierdo margen-inferior">
            <div>
                <div class="cuadrado habilitado"></div>
                <span class="opciones-calendario">Turnos disponibles</span>
            </div>
            <div>
                <div class="cuadrado deshabilitado"></div>
                <span class="opciones-calendario">Turnos bloqueados</span>
            </div>
        </div>


       <div class="borde">
            <table class="tabla-calendario margen-superior">
                <thead><tr></tr></thead>
                <tbody>
                  <tr>
                    <th scope="row">Total donantes</th>
                    <td class="habilitado"></td>
                    <td class="habilitado">3</td>
                    <td class="habilitado">3</td>
                    <td class="habilitado"></td>
                    <td class="habilitado"></td>
                    <td class="habilitado"></td>
                    <td class="habilitado"></td>
                  </tr>
                </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
