<div class="badgets">
    <h4>Tus logros:</h4>
    <div class="sin badget">
        <div class="medalla">
        </div><div class="descripcion">
        <p>He <br /> donado!</p>
        <p><span>02 de octubre</span></p>
        </div>

    </div><div class="sin badget bronce">
        <div class="medalla">
        </div><div class="descripcion">
        <p>Primera<br />donación</p>
        <p><span>02 de octubre</span></p>
        </div>

    </div><div class="sin badget plata">
        <div class="medalla">
        </div><div class="descripcion">
        <p>Donante<br />habitual</p>
        <p><span>2014</span></p>
        </div>
    </div>
    <br />
    <div class="sin badget oro">
        <div class="medalla">
        </div><div class="descripcion">
        <p>Donante<br />perfecto</p>
        <p><span>consiguelo</span></p>
        </div>

    </div><div class="sin badget azul none">
        <div class="medalla">
        </div><div class="descripcion">
        <p>Embajador</p>
        <p><span>consiguelo</span></p>
        </div>
    </div>
</div>
