<div class="bar-main-container">
    <div class="campania">Tu ciudad, mes en curso
<!--en campaña debe incluirse "nombre del banco de sangre", + "fecha de la campañia"-->
    </div><div class="faltandias">
<!-- en faltan días seria el resultado de "fecha de cierre de campañia"-"fecha actual" -->
    3</div>
    <div class="bar-container">
<!-- numero de donantes objetivos: -->
      <div class="objetivo">300</div>
<!-- porcentaje (registrados en relacion a objetivo) que debe estar dentro del div, y como propiedad del widht -->
      <div class="bar" style="width: 70%;"><div>70%</div></div>
<!-- cantidad de donantes que ya reservaron por la página -->
      <div class="registrados">210</div>
    </div>
  </div>
