<div class="boton_donar">
    <% if current_user %>
        <%= link_to "QUIERO DONAR", ongs_path%>
    <% else %>
        <%= link_to "QUIERO DONAR", user_session_path%>
    <% end %>
    <p>Si puedes hacerlo,<br />debes hacerlo</p>
</div>