/*============================================
=            ong edit form styles            =
============================================*/
.ong-edit-page {
  .ongs-new {

    .submit-container {
      text-align: center;
    }

    .btn-enviar {
      margin: 0 0 20px 0;
    }

    @include respond-to("medium-and-up") {
      margin: 0px auto;
    }

    @include respond-to("large-and-up") {
      width: 70%;
    }
    @include respond-to("xlarge") {
      width: 642px;
    }
  }
}
