/*=======================================
=            ong list styles            =
=======================================*/

.ong-list-page {

  @include respond-to("xlarge") {
    .col_der {
      padding: 5px;
    }

    .banco {
      margin: 10px 0;
      cursor:pointer;

      &:hover {
        border: 1px solid $mainRed;
      }
    }

    .reservar a {
      height: auto;
      padding: 5px 10px;
      font-size: 0.9em;
      @include border-radius(40%, 40%);
    }
  }

  .ongs-filter {
    @extend .ong-search;
    .type-ahead {
      width: 200px;
      @include respond-to("large-and-up") {
        width: 345px;
      }
    }
    .input-submit {
      display: inline-block;
      vertical-align: top;
    }
  }

  .pagination {
    @include respond-to("large-and-up") {
      display: block;
      margin: 20px auto;
      width: 460px;
    }
    li a {
      color: $softRed;
    }

    & > .active > a,
    & > .active > a:hover {
      background-color: $plata;
      border-color: $plata;
    }
  }
}
