/*========================================
=            ongs form styles            =
========================================*/
.ongs-new-page {
  .ongs-new {
    .submitArea {
      text-align: center;
    }
  }
  @include respond-to("small-and-up") {
    .col_der {
      padding-bottom: 0;
    }
    .notificacion {
      margin-bottom: 5px;
    }
    .ongs-new {

      h1 {
        margin-top: 0;
        margin-bottom: 3px;
      }
      .new_ong {
        .btn-enviar {
          margin-bottom: 0px;
        }
      }
    }
  }
}