.horarios-diferenciados {
    label {
        padding-top: 10px;
    }
}
.configuracion-atencion {
    padding: 10px 30px;

    a {
        color: $saddleBrown;
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: normal;
        font-size: 12px;
    }
    a.hover {
        text-decoration: none;
        cursor: pointer;
    }
    a.horario-cortado {
        margin-left: 45px;
    }

}


.configuracion-calendario{
    padding: 10px 30px;

    h3{
        color: $saddleBrown;
        padding-bottom: 10px;
    }

    .titulo-rosa{
        color: $softRed;
    }
}

.tabla-calendario{
   width: 70%;
   max-width: 70%;
   margin-top: 3%;

   th{
     color: $softRed;
     font-weight: normal;
     text-align: center;
   }

   td{
     width: 14%;
     height: 40px;
     padding: 5px;
     border: 10px solid white;
     text-align: center;
   }
}

.habilitado{
   background-color: $whiteSmoke;
}

.deshabilitado{
   background-color: $plata;
}
