.about {
  margin-top: 220px;
  padding: 10px;
  .us {
    max-width: 400px;
    margin: 0 auto;

    h1, h2, h3 {
      text-align: center;
      margin: 5px 35px;
      font-size: 2.5em;
    }

    h2 {
      margin-top: 15px;
      margin-bottom: 10px;
    }

    h3 {
      text-align: left;
      font-size: 2em;
    }

    p {
      margin: 0 35px 32px;
      font-size: 1em;
      font-weight: lighter;
      line-height: 24px;
      text-align: justify;
    }

    .logos {
      text-align: center;
      a {
        img {
          margin: 0 30px 32px;
        }
      }
    }

    .campaign-video{
      width: 100%;
      height: 300px;
    }
  }
}