/*===================================================
=            Donnors seccion and options            =
===================================================*/
.bolsa {
  background-color: $softRed;
  background-image: url($bolsa);
  background-size: 46px 25px;
  background-repeat: no-repeat;
  background-position: 18px 32px;
  position: absolute;
  height: 62px;
  width: 64px;
  left: 168px;
  @include border-radius(50%);

  &:before {
    border-bottom-width: 0;
    border-radius: 6px;
    border: solid 2px white;
    bottom: 25px;
    color: $softRed;
    content: "---";
    display: block;
    font-size: 21px;
    left: 18px;
    margin: auto;
    position: absolute;
    right: 22px;
    text-align: center;
    top: 9px;
    @include transition(border-bottom-width, 500ms, ease);
  }
}

.bolsa:hover:before {
  border-bottom-width: 7px;
}

.bolsa.llena:before {
  border-bottom-width: 26px;
}

.bolsa.llena:hover:before {
  border-bottom-width: 19px;
}

.col_div .cota {
  line-height: 17px;
  font-size: 13px;
  font-style: italic;
}


.Secciones {

  h2 {
    position: absolute;
    font-size: 1.1em;
    left: 16px;
    top: 20px;
    cursor: pointer;
    opacity: 0.3;

    &:hover {
      opacity: 0.8;
    }
    &:last-of-type {
      right: 0;
      left: inherit;
    }

    &.seleccionada {
      border-bottom: solid 2px $mainRed;
      opacity: 1;
    }
  }

  ul, ol {
    display: inline-block;
    padding-left: 35px;
  }

  ul {
    opacity: 0;
    position: absolute;
    top: 70px;
    @include transition(opacity, 0.7s, ease);

    &.seleccionada {
      opacity: 1;
    }
  }

  li {
    display: block;
    float: left;
    width: 154px;
    margin-right: 20px;
    margin-bottom: 26px;
    text-align: center;
    color: $mainRed;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;

    strong {
      display: block;
    }

    &:nth-child(2n+1) {
      clear: both;
    }

  }

  & > div {
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: relative;
    @include transition(opacity, 0.7s, ease-in);
    width: 400px;
  }

  p:last-child:after {
    content: "";
    background-image: url($gotas2);
    background-position: 0 -5px;
    height: 18px;
    width: 16px;
    display: inline-block;
  }

  a {
    color: $mainRed;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      opacity: 0.8;
      outline: 0;
    }
  }

  & > .seleccionada {
    opacity: 1;
    height: auto;
    min-height: 406px;
    animation: noscroll 400ms; //para evitar que aparezca el scroll
    -webkit-animation: noscroll 400ms;
    margin: 0 auto;
    h1 {
      margin-top: 0;
    }
  }

  .list-info ul {
    list-style: none;
    position: relative;
    opacity: 1;
    top: 0;
    margin-top: 30px;

    li {
      color: $black;
      display: inline-block;
      float: none;
      margin-bottom: 15px;
      margin-right: 0;
      text-align: left;
      width: 80%;
      .ico-content {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        width: 20px;
        i {
          background-image: url($gotas2);
          background-position: 0 -5px;
          content: "";
          display: block;
          height: 18px;
          width: 16px;
        }
      }
      .text-content {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        width: 90%;
      }
    }
  }
}

/*OPCIONES*/
.donors {
  max-width: 300px;
}

.Opciones {
  margin: 0 auto;
  @include transition(height, 400ms, ease);
  overflow: hidden;

  div {
    -khtml-user-select: none;
    -moz-user-select: none;
    background-color: $softRed;
    border-bottom: solid 3px $mainRed;
    @include border-radius(0, 3px);
    @include box-shadow($black, 0px, 0px, 25px, -5px);
    color: $white;
    cursor: pointer;
    float: left;
    font-size: 1.1em;
    font-weight: lighter;
    height: 70px;
    margin: 18px 10px 134px 10px;
    padding: 25px 20px 0 20px;
    position: relative;
    text-align: center;
    width: 130px;

    span {
      color: $mainRed;
      line-height: 18px;
      position: absolute;
      left: 0;
      top: 70px;
      margin-top: 10px;
    }
  }

  &.seleccionada {
    margin: 0 auto;

    div,
    span {
      display: none;
    }

    .seleccionada {
      display: block;
      margin: 30px auto;
      float: none;
    }
  }
}

@media (min-width: 768px) {
  .donors {
    max-width: 335px;
  }

  .Opciones {

    div {
      margin: 18px 18px 134px 18px;
    }
  }
}
