/*========================================
=            Home view styles            =
========================================*/

.h_container {
  margin: 0 auto;
  z-index: 1;

  .head-content {
  }

  .h_container-col {
    padding:0;
  }

  h1 {
    text-align: center;
    color: $white;
    padding: 5px;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }

  span {
    color: $black;
    display: block;
  }

  .blood-text {
    color: $softRed;
  }
  .video-contener {

    .video-home {
      background: $white;
      margin-top: 20px;
      border-top: 4px solid $softRed;


      .video-home-iframe {
        width: 100%;
        height: 300px;
        margin-bottom: 20px;
      }

      p {
        color: $softBlack;
        letter-spacing: 1px;
        font-weight: lighter;
        line-height: 25px;
        margin-bottom: 20px;
        text-align: center;
      }
    }
  }
  .foot-legend {
    padding: 20px 0 0 30px;

    p {
      color: $saddleBrown;
      font-size: 2em;
      font-weight: bold;
      width: 200px;
    }
  }
}
.col_der {
  background: $white;
  padding-left: 50%;
  padding: 5px 10px 25px 10px;

  &.columna {
    min-height: 805px;
  }
}

.col_izq {
  height: auto;
  background: $softRed;
  display: inline-block;
  vertical-align: top;

  .boton_donar {
    @include gota_donar;
    position: relative;
    left: 0;
    bottom: 0;
    display: block;
  }
}

@media (min-width:768px) {

  .col_izq {
    background: $softRed;
    bottom: 0;
    min-height: 1024px;
    padding-right: 0;
    padding-left: 2%;
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;

    .boton_donar {
      @include gota_donar;
      position: none;
    }
  }

  .h_container {
    position: absolute;
    right: 2%;
    top: 27%;
    width: 95%;

    span {
      display: inline-block;
      margin-left: 19px;
      font-size: 0.8em;
      &:first-child {
        color: $white;
      }
    }

    .video-contener {
      .video-home {
        padding: 40px 10px 60px 60px;
        border-bottom: 4px solid $softRed;

        p {
          text-align: left;
        }

        .video-home-iframe {
          margin-bottom: 0;
        }
      }
    }
  }

  .h_container .video-contener .video-home p {
    letter-spacing: 0;
  }
}

@media (min-width:992px) {
  .h_container {
    right: 3%;

    span {
      margin-left: 39px;
      font-size: 0.9em;
    }

    .blood-text {
      background: $white;
    }
  }
}

@media (min-width:1200px) {
  .h_container {
    width: 67%;
    span {
      margin-left: 25px;
    }
  }

  .video-contener {
    position: relative;
    left: -24%;
    top:0;

    .video-home {
      width: 100%;
    }
  }

  .info-donantes {
    position: relative;
    left:-24%;
    top:0;
  }

  .col_izq .boton_donar {
    display: block;
    left: 3%;
    top: 40%;
  }
}