<div class="col-lg-6">
    <a class="boton_donar" href="quiero_donar.html" title="Quiero donar">
        <%= image_tag 'quierodonar_btn.png', alt: "Quiero donar" %>
    </a>
</div>

<div class="col-lg-6">
    <div class="infos_container">
        <div class="col_texto">
            <div class="titulo_nosotros"><strong>INFO</strong> NOSOTROS</div>
            <div class="descr_nosotros">Mauris lundium dolor tincidunt nisi, augue ac</div>

            <div class="titulo_nosotros">EL EQUIPO</div>
            <div class="descr_nosotros">Mauris lundium dolor tincidunt nisi, augue ac</div>

            <div class="titulo_nosotros">MISIÓN</div>
            <div class="descr_nosotros">Mauris lundium dolor tincidunt nisi, augue ac</div>

            <div class="titulo_nosotros">VISIÓN</div>
            <div class="descr_nosotros">Mauris lundium dolor tincidunt nisi, augue ac</div>
        </div>
        <div class="img_container">
            <%= image_tag "caras_nosotros.jpg" %>
        </div>
        <div style="clear: both;"></div>
    </div>
    <div class="logos_nosotros">

    </div>
</div>
</div>