<div class="col_der">
  <div class="col_div us">
    <h1>¿Quiénes somos nosotros?</h1>
    <h2><br />VISIÓN</h2>
    <p>El 100% de la demanda de sangre, en toda la región, es cubierta con donaciones VOLUNTARIAS Y HABITUALES.</p>
    <p>Hermanos de Sangre es una alianza de 3 organizaciones: OurMark, Publicitarios sin Fronteras, y PVBLIC Foundation, que han unido sus fuerzas para contribuir con la temática de donación de sangre en toda la región.</p>
    <div style="text-align: center;">
       <%= link_to image_tag("ourMark.png"), "http://ourmark.com", alt: 'Our Mark' %>
       <%= link_to image_tag("publicitarios.png"), "http://awbnetwork.org", alt: 'Publicitarios sin Fronteras' %>
       <%= link_to image_tag("PVBLIC.png"), "http://pvblic.org", alt: 'PVBLIC Foundation' %>
    </div>
  </div>
</div>
<div class="columna col_izq">
  <%= render partial: 'shared/gota_donar' %>
</div>