<div class="h_container">
  <h1>"Quienes somos? <strong>Sobre Nosotros</strong>:"</h1>
</div>
<div class="col_der">
  <div class="col_div">
    <%= image_tag "caras_nosotros.jpg" %>
    <p>Hermanos de Sangre es una alianza de 3 organizaciones: OurMark, Publicitarios sin Fronteras, y PVBLIC Foundation, que han unido sus fuerzas para contribuir con la temática de donación de sangre en toda la región.</p>
    <h2>EL EQUIPO</h2>
    <p>Los miembros de esta comunidad son Hermanos de Sangre, personas comprometidas con sostener y difundir la donación voluntaria y habitual de sangre. Vos también podés ser parte! Registrate aquí.</p>
    <h2>MISIÓN</h2>
    <p>Mauris lundium dolor tincidunt nisi, augue ac</p>
    <h2>VISIÓN</h2>
    <p>El 100% de la demanda de sangre, en toda la región, es cubierta con donaciones VOLUNTARIAS Y HABITUALES.</p>
    <div style="text-align: center;">
      <img src="http://nicolasfigliozzi.com.ar/blodbrother/ourMark.png" alt="OurMark">
      <img src="http://nicolasfigliozzi.com.ar/blodbrother/publicitarios.png" alt="Publicitarios sin Fronteras">
      <img src="http://nicolasfigliozzi.com.ar/blodbrother/PVBLIC.png" alt="PVBLIC Foundation">
    </div>
  </div>
</div>
<div class="columna col_izq">
  <%= render partial: 'shared/gota_donar' %>
</div>