<div class="about">
  <div class="us">
    <h1>Campaña:</h1>
    <p>La campaña de lanzamiento de Hermanos de Sangre busca inspirar a las personas a comprometerse con la donación voluntaria y habitual de sangre.</p>
    <p>Te invitamos a compartir las piezas de difusión:</p>
    <h2>Videos de difusión:</h2>
    <iframe class="campaign-video" src="//www.youtube-nocookie.com/embed/oXuqPhhqj1c?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
  </div>
</div>