<div class="h_container">
  <h1>"Quienes somos? <strong>Sobre Nosotros</strong>:"</h1>
</div>
<div class="col_der">
  <div class="col_div">
    <img src="http://hermanosdesangre.herokuapp.com/assets/caras_nosotros-06375a36f6a795d65b1220e98e461d24.jpg" class="imagen">
    <p>Los miembros de esta comunidad son Hermanos de Sangre, personas comprometidas con sostener y difundir la donación voluntaria y habitual de sangre. Vos también podés ser parte! Registrate aquí.</p> <img src="http://hermanosdesangre.herokuapp.com/assets/caras_nosotros-06375a36f6a795d65b1220e98e461d24.jpg" class="imagen">
    <p>Mauris lundium dolor tincidunt nisi, augue ac</p>
    <p>El 100% de la demanda de sangre, en toda la región, es cubierta con donaciones VOLUNTARIAS Y HABITUALES.</p> <img src="http://hermanosdesangre.herokuapp.com/assets/caras_nosotros-06375a36f6a795d65b1220e98e461d24.jpg" class="imagen">
  </div>
</div>
<div class="columna col_izq">
  <%= render partial: 'shared/gota_donar' %>
</div>