<div class="col-lg-6">
    <a class="boton_donar" href="quiero_donar.html" title="Quiero donar">
        <%= image_tag 'quierodonar_btn.png', alt: "Quiero donar" %>
    </a>
</div>

<div class="col-lg-6">
    <div class="infos_container">
        <div class="col_texto">
            <div class="titulo_nosotros"><strong>INFO</strong> CONTACTO</div>
        <div style="clear: both;"></div>
    </div>
    <div class="logos_nosotros">

    </div>
</div>
</div>