<div class="h_container">
  <h1>"<strong>Información útil</strong> para el Donante:"</h1>
</div>

<div class="col_der">
  <div class="col_div">
    <ul>
      <li><a href="#">Pregunta uno</a></li>
      <li><a href="#">Pregunta dos</a></li>
      <li><a href="#">Pregunta tres</a></li>
      <li><a href="#">Pregunta cuatro</a></li>
      <li><a href="#">Pregunta cinco</a></li>
      <li><a href="#">Pregunta seis</a></li>
    </ul>
  </div>
</div>
        
<div class="columna col_izq">
  <%= render partial: 'shared/gota_donar' %>
</div>