<!-- agregar link a accordion.js en assets-->
<div class="h_container">
  <h1>"<strong>Información útil</strong> para el Donante:"</h1>
</div>

<div class="col_der">
  <div class="col_div">
    <div id="preguntas" tabindex="0">
      <div><div></div><div></div></div> <!--no quitar, divs que hacen que todas las preguntas esten cerradas-->
      <div>
      		<div class="pregunta">Pregunta 1</div>
      		<div class="respuesta">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum orci lacus, at aliquam turpis terdum nibh sed aliquet vestibulum. Integer lectus nunc, vehicula eget nisl sit amet, ullamcorper suscipit ipsum. Pellentesque nulla neque, pellentesque et commodo eget, luctus ne Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris eu eleifend felis. Pellentesque id orci semper, dignissim velit in, mollis dui.
            <br /><br />
Lorem ipsum dolor sit amet, consectetursis ante, id tempor nisi ultricies fermentum. Maecenas dapictus nec velit. Donec gravida Curae; Mauris eu eleifend felis. Pellentesque id orci semper, dignissim velit in, mollis dui.</p>
        </div>
      </div>
      <div>
      		<div class="pregunta">Pregunta 2</div>
      		<div class="respuesta"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum orci lacus, at aliquam turpis condimentum nec. Aliquam dignissim velit in, mollis dui.</p>
      		</div>
      	</div>
      	<div>
      		<div class="pregunta">Pregunta 3</div>
      		<div class="respuesta"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum orci lacus, at aliquam turpis condimentum nec. Aliquam augue quam, porttitor eu quam ut, consectetur venenatifinibus venenatis. Donec at auctor leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris eu eleifend felis. Pellentesque id orci semper, dignissim velit in, mollis dui.
      <br /><br />facilisis mi auctor tempus. Curabitur interdum nibh sed aliquet vestibulum. Integer lectus nunc, vehicula eget nisl sit amet, ullamcorper suscipit ipsum. Pellentesque nulla ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris eu eleifend felis. Pellentesque id orci semper, dignissim velit in, mollis dui.</p>
      		</div>
      	</div>
      	<div>
      		<div class="pregunta">Pregunta 4</div>
      		<div class="respuesta"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum orci lacus, at aliquam turpis condimentum nec. semper, dignissim velit in, mollis dui.
      <br /><br />
            facilisis mi auctor tempus. Curabitur interdum nibh sed aliquet vestibulum. Integer lectus nunc, vehicula eget nisl sit amet, ullamcorper suscipit ipsum. Pellentesque nulla neque, pellentesque et commodo eget, luctus nec velit. Donec gravida finibus venenatis. Donec at auctor leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris eu eleifend felis. Pellentesque id orci semper, dignissim velit in, mollis dui.
      </p>
		</div>
	</div>
</div>
<script language="JavaScript" type="text/javascript">var preguntas = new Spry.Widget.Accordion("preguntas");</script>
  </div>
</div>
        
<div class="columna col_izq">
  <%= render partial: 'shared/gota_donar' %>
</div>