<div class="col_div">
  <div class="Opciones donors">
    <div>IMPACTO<span class="info_boton">Conocé los beneficios de convertirte en donante VOLUNTARIO Y HABITUAL</span></div>
    <div>REQUISITOS<span class="info_boton">Ténes dudas de si podes donar? Lee las condiciones que tiene que tener un DONANTE</span></div>
    <div class="col_medio">CONSEJOS<span class="info_boton">Hace que tu donación se convierta en un acto SEGURO, CONFORTABLE Y GRATIFICANTE</span></div>
  </div>
  <div class="Secciones">
    <%= render partial: 'static/donors/impact' %>
    <%= render partial: 'static/donors/requirements' %>
    <%= render partial: 'static/donors/advises' %>
  </div>
</div>