<div class="col_der">
  <div class="col_div">
    <div class="Opciones">
        <div>IMPACTO<span>Conocé los beneficios de convertirte en donante VOLUNTARIO Y HABITUAL</span></div>
        <div>REQUISITOS<span>Ténes dudas de si podes donar? Lee las condiciones que tiene que tener un DONANTE</span></div>
        <div class="titulo_boton"><h4>RECOMENDACIONES</h4><span>Hace que tu donación se convierta en un acto SEGURO, CONFORTABLE Y GRATIFICANTE</span></div>
        <div>MÁS INFO<span>Querés informarte más del tema? Te ofrecemos links de interés sobre la donación de sangre.</span></div>
    </div>
      
    <div class="Secciones">
        <%= render partial: 'static/donors/impact' %>
        <%= render partial: 'static/donors/requirements' %>
        <%= render partial: 'static/donors/advises' %>
        <script type="text/javascript">
function Sel(n){
  /*funcion Sel(eccionar) damos la clase a la nueva seleccion*/
    $(".Opciones>div:nth-child("+n+")").toggleClass("seleccionada");
    $(".Secciones>div:nth-child("+n+"), .Opciones").toggleClass("seleccionada");
};
  /*definimos los botones*/
  $(".Opciones>div:nth-child(1)").click(function(){Sel(1);});
  $(".Opciones>div:nth-child(2)").click(function(){Sel(2);});
  $(".Opciones>div:nth-child(3)").click(function(){Sel(3);});
  $(".Opciones>div:nth-child(4)").click(function(){Sel(4);});

  /*definimos sub-boton*/
  $(".Secciones>div:nth-child(3) h2, .bolsa").click(function(){$(".Secciones .seleccionada ul, .Secciones .seleccionada h2").toggleClass("seleccionada"); $(".bolsa").toggleClass("llena");});

  /* por si viene de un link*/
  var $_GET = {};
  document.location.search.replace(/\??(?:([^=]+)=([^&]*)&?)/g, function () {
    function decode(s) {
        return decodeURIComponent(s.split("+").join(" "));
    }
    $_GET[decode(arguments[1])] = decode(arguments[2]);
  });
  if ($_GET['s'] === "impacto"){Sel(1);};if ($_GET['s'] === "requisitos"){Sel(2);};
  if ($_GET['s'] === "consejos"){Sel(3);};if ($_GET['s'] === "informacion"){Sel(4);};
        </script> 
    </div>
 
  </div>
</div>

<div class="columna col_izq">
  <%= render partial: 'shared/gota_donar' %>
</div>