<div class="barra_container">
  <div class="localidad">En: Mar del Plata</div>
  <div id="bar-5" class="bar-main-container">
    <div class="wrap">
      <div class="bar-percentage" data-percentage="100"></div>
      <div class="bar-container">
        <div class="bar">100</div>100&nbsp;&nbsp;&nbsp;
      </div>
    </div>
  </div>
</div>

<div class="columna col_izq">
  <a class="boton_donar" href="quiero_donar.html" title="Quiero donar">
    <%= image_tag "quierodonar_btn.png" %>
  </a>
</div>

<div class="columna col_der">
  <div class="text_home_container">Hac? Nunc urna velit nunc proin adipiscing lacus in porttitor ut porttitor cras mus nisi! Sit nisi, porta duis. Egestas elementum eu lacus scelerisque magnis augue in et vel enim urna vel. Risus, pulvinar penatibus aliquet habitasse sociis elementum adipiscing, tempor aenean, vel vut risus! Proin a sed. Platea porta. Vut duis natoque placerat penatibus nec? Vel? Cras mus natoque, elit et dignissim montes! Magnis? Scelerisque, urna augue cras rhoncus in</div>
  <div class="video_container">
    <iframe width="300" height="160" src="//www.youtube.com/embed/1VUsLthgj24?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
</div>