<div class="row h_container">
  <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-10 head-content h_container-col">
    <div class="col-md-12 info-donantes h_container-col">
      <h1>
        <span>Meta: 100% donantes</span><span class="blood-text"> habituales y voluntarios</span>
      </h1>
      <%= render partial: 'shared/barra_progreso' %>
    </div>
    <div class="col-md-12 video-contener h_container-col">
      <div class="video-home">
        <p>Encuentra el banco de sangre más próximo, reserva tu turno, y haz de donar sangre un nuevo hábito solidario. Únete a Hermanos de Sangre.</p>
        <iframe class="video-home-iframe" src="//www.youtube-nocookie.com/embed/1VUsLthgj24?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
      </div>
    </div>
    <div class="hidden-xs hidden-sm hidden-md col-lg-offset-3 col-lg-9 foot-legend">
      <p>Registos de Bancos de Sangre</p>
    </div>
  </div>
</div>
<div class="row quiero-donar">
  <div class="col-xs-12 col-sm-12 col-md-6 col_izq">
    <%= render partial: 'shared/gota_donar' %>
  </div>
</div>