<div class="h_container">
	<h1>Nuestra meta: donantes 100<strong> % voluntarios y habituales.</strong></h1>
	<%= render partial: 'shared/barra_progreso' %>
</div>
<div class="col_der">
	<div class="col_div home">
		<p>Encuentra el banco de sangre más próximo, reserva tu turno, y haz de donar sangre un nuevo hábito solidario. Únete a Hermanos de Sangre.</p>
		<iframe width="330px" height="175px" src="//www.youtube-nocookie.com/embed/1VUsLthgj24?rel=0&amp;showinfo=0&amp;controls=0" frameborder="0" allowfullscreen=""></iframe>
	</div>
</div>
<div class="col_izq">
	<%= render partial: 'shared/gota_donar' %>
</div>