<div class="col-lg-12">
  <h1>Nuestra meta: 100% donantes <strong>voluntarios y habituales</strong></h1>
  <div class="h_container">
  </div>
  <div class="localidad">En: Mar del Plata - Agosto 2014</div>
  <div id="bar-5" class="bar-main-container">
    <div class="wrap">
      <div class="bar-percentage" data-percentage="100"></div>
      <div class="bar-container">
        <div class="bar">100</div>100&nbsp;&nbsp;&nbsp;
      </div>
    </div>
  </div>
</div>

<div class="col-lg-6">
  <a class="boton_donar" href="quiero_donar.html" title="Quiero donar">
    <%= image_tag "quierodonar_btn.png" %>
  </a>
</div>

<div class="col-lg-6">
  <p>Actualmente, la mayoría de los dontantes de sangre son "de reposición" (donan para reponer lo que otra persona utilizó). Nuestro objectivo es que toda la demanda de sangre sea cubierta por donantes VOLUNTARIOS  y HABITUALES. Unite, e inspirá a otros a sumarse.</p>
</div>