<div class="col_der">
	<div class="col_div Secciones us">
		<h1>Cómo funciona</h1>
		<p>Hermanos de Sangre utiliza el concepto del "crowd-funding" para la donación de sangre: invita a las personas a sumar su compromiso individual para alcanzar una meta colectiva.</p>
		<h3>Ofrece en forma gratuita:</h3>
		<span><strong>A LAS PERSONAS:</strong></span>
		<ol>
			<li>Una forma de localizar el o los bancos de sangre donde puede donar.</li>
			<li>Información sobre las necesidades: ¿cuánta sangre hace falta en tu comunidad?</li>
			<li>La posibilidad de reservar un turno con el banco de sangre más próximo, contribuyendo a cubrir esa necesidad.</li>
			<li>Un registro de los turnos reservados y las donaciones realizadas.</li>
			<li>Una forma de compartir este compromiso en las redes sociales para inspirar a más personas a sumarse.</li>
		</ol>
		<span><strong>A LOS BANCOS DE SANGRE:</strong></span>
		<ol>
			<li>Una herramienta de promoción de la donación voluntaria de sangre.</li>
			<li>Un sistema de turnos online para agilizar la atención a los donantes.</li>
		</ol>
		<p>¿Quieres registrar un banco de sangre? <%= link_to "registrar un banco de sangre", current_user ? ongs_path : user_session_path %>.</p>
	</div>
</div>
<div class="columna col_izq">
  <%= render partial: 'shared/gota_donar' %>
</div>