<div class="row">
	<div class="col-xs-12 col-sm-offset-6 col-sm-6 col-md-offset-6 col-md-6 col_der">
		<div class="how-works">
			<h1>Cómo funciona</h1>
			<p>Hermanos de Sangre utiliza el concepto del "crowd-funding" para la donación de sangre: invita a las personas a sumar su compromiso individual para alcanzar una meta colectiva.</p>
			<h3>Ofrece en forma gratuita:</h3>
			<span><strong>A LAS PERSONAS:</strong></span>
			<ul class="list-info">
				<li>
					<div class="ico-content">
						<i></i>
					</div>
					<div class="text-content">
						Una forma de localizar el o los bancos de sangre donde puede donar.
					</div>
				</li>
				<li>
					<div class="ico-content">
						<i></i>
					</div>
					<div class="text-content">
						Información sobre las necesidades: ¿cuánta sangre hace falta en tu comunidad?
					</div>
				</li>
				<li>
					<div class="ico-content">
						<i></i>
					</div>
					<div class="text-content">
						La posibilidad de reservar un turno con el banco de sangre más próximo, contribuyendo a cubrir esa necesidad.
					</div>
				</li>
				<li>
					<div class="ico-content">
						<i></i>
					</div>
					<div class="text-content">
						Un registro de los turnos reservados y las donaciones realizadas.
					</div>
				</li>
				<li><div class="ico-content">
						<i></i>
					</div>
					<div class="text-content">
						Una forma de compartir este compromiso en las redes sociales para inspirar a más personas a sumarse.
					</div>
				</li>
			</ul>
			<span><strong>A LOS BANCOS DE SANGRE:</strong></span>
			<ul class="list-info">
				<li>
					<div class="ico-content">
						<i></i>
					</div>
					<div class="text-content">
						Una herramienta de promoción de la donación voluntaria de sangre.
					</div>
				</li>
				<li><div class="ico-content">
						<i></i>
					</div>
					<div class="text-content">
						Un sistema de turnos online para agilizar la atención a los donantes.
					</div>
				</li>
			</ul>
			<p class="quieres-donar"><%= link_to "¿Quieres registrar un banco de sangre?", current_user ? ongs_path : user_session_path %>.</p>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6 columna col_izq">
	  <div class="how-works-boton-donar">
	      <%= link_to content_tag(:p, "quiero donar"), current_user ? ongs_path : user_session_path %>
	      <div>
	        <p>Si puedes hacerlo, debes hacerlo</p>
	      </div>
	  </div>
	</div>
</div>