<div class="container-myaccount-custom ong-list-page">
  <div class="col-xs-12 ongs-filter">
    <div class="form-group">
      <label for=""> Busca aqui tu ONG/Banco de sangre mas cercano</label>
      <input type="text" class="typeahead form-control ong-filter-input" name="ong-filter" id="ong-filter" placeholder="Escribe tu busqueda...">
      <button type="button" class="input-submit" id="clear-filter">Borrar Busqueda</button>
    </div>
  </div>
  <div class="ongs"></div>
  <ul id="ong-list-page-pagging" class="pagination"></ul>
</div>
