<div class="container-myaccount-custom ongs-new-page">
  <div class="ongs-new">
    <h1>Registrar Banco de Sangre</h1>
    <p>Sólo debes registrar el  Banco de Sangre si perteneces a la organización y/o con permiso de ésta. Si no podemos validar que tienes autorización para registrar el banco de sangre, la cuenta será eliminada.</p>
    <%= render 'form' %>
  </div>
</div>