<div class="columna col_der">
     <div class="col_div">
         <h1>Nueva ONG</h1>
         <%= render 'form' %>
         <%= link_to 'Cancelar', edit_user_registration_path %>
      </div>
</div>
<div class="columna col_izq">
  <%= render partial: 'shared/gota_sin_donar' %>
</div>