<div class="columna col_der">
     <div class="col_div">
         <h1>Nueva ONG</h1>
         <p>Sólo debes registrar el  Banco de Sangre si perteneces a la organización y/o con permiso de ésta. Si no podemos validar que tienes autorización para registrar el banco de sangre, la cuenta será eliminada.</p>
         <%= render 'form' %>
      </div>
</div>
<div class="columna col_izq">
  <%= render partial: 'shared/gota_sin_donar' %>
</div>