html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html,body { overflow-x: hidden;}
body {
    line-height: 1;
    background-color:#D35555;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*estos son los específicos de la cabecera------------------*/
.faldon_top_container{
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    position: fixed; z-index:2;
    width: 100%;
    background: white;
    background:rgba(255, 255, 255, 0.9);
    height: 70px;
    border-bottom: 1px solid #D35555;
    -webkit-box-shadow:inset 0 35px 35px -35px #699;
    box-shadow:inset 0 35px 35px -35px #699;
}
.faldon_top{
    position: relative;
    width: 800px;
    height: 70px;
    margin: 0 auto;
}
.logo_top_container{
    position: absolute;
    top: 12px;
    left: 4px;
    background: #D35555;
    border-bottom: solid 2px #D35555;
    -webkit-box-shadow: black 0px 0px 25px -5px;
    box-shadow: black 0px 0px 25px -5px;
    z-index: 9999;
}

/*MENU*/
ul#menu, ul.sub-menu, ul#sobre_derecha {
    padding:0;
    margin: 0;
    position: absolute;
}
ul#menu {left: 195px; top: 34px;} ul#sobre_derecha{right: 4px;top: 30px;}

ul#menu li, ul.sub-menu li, ul#sobre_derecha li {
    list-style-type: none;
    display: inline-block;
    position: relative;
}
/*SUB MENU*/
li ul.sub-menu {
    display:none;
    position: absolute;
    left: 0;
    padding-top: 10px;
}
li:hover ul.sub-menu {
    display:block;
}

ul.sub-menu li{
    background: rgba(255, 255, 255, 0.9);
    width: 130px;
    padding: 10px 5px;
}
/*Links*/
ul#menu>li>a, ul#sobre_derecha>li>a{
    color: #F16B6B;
    text-decoration: none;
    padding: 6px 9px;
    display: inline-block;
    border-right: 1px solid #D35555;
}
ul.sub-menu li>a {
    color: #D35555;
    padding: 5px;
    display: block;
}
ul.sub-menu li:hover {
    background-color: white;
}
ul.sub-menu li>a:hover {
    font-weight: 700;
}
ul#sobre_derecha li a:hover{
  font-style: italic;
}
/*sobre derecha*/
#sobre_derecha li>a{
    padding: 9px !important;
    background-color: whitesmoke;
}
#sobre_derecha li:last-child>a{
    background-color:#F16B6B;
    color: white;
}
#sobre_derecha li>span {
    position: relative;
    right: 28px;
    bottom: 1px;
}
#sobre_derecha .HS_email {
  background-color: whitesmoke;
  background-image:url("http://w.sharethis.com/images/email_16.png");
  background-repeat:no-repeat;
  width: 16px;
  height: 16px;
  overflow: hidden;
  right: 9px; 
  position: absolute;
  z-index: 10;
  -webkit-transition: width 500ms ease-in;
  transition: width 500ms ease;
} 
#sobre_derecha .HS_email:hover {width: 75px;}
.HS_email a {
  padding: 0 21px;
  color: #F16B6B;
}

/*----general contenido de toda la app-------*/
.content_container{
    position: relative;
    width: 100%;
    border-top: solid 70px white;
    background: white;
}
.h_container{
    position: absolute;
    top: 65px;
    left: 50%;
    margin-left: -400px;
    max-width: 800px;
    width: 800px;
    height: 35px;
    z-index: 1;
    text-align: center;
}
h1{
    font-size: 30px;
    margin-bottom: 35px;
}
.h_container h1{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: white;
    padding: 5px;
}
.h_container strong{
    color: black;
}

.col_der{
  background: white;
  min-height: 630px;
  padding-left: 50%;
}
.col_izq{
    position: absolute;
    width:50%; height:100%;
    top: 0; left: 0;
    background: #F16B6B;
}

.col_izq .col_div {float: right;}
.col_div{
  max-width: 400px;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
}
.col_div p{
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
  text-align: justify;
}
.col_div .imagen{
    position: relative;
    float: right;
    width: 160px;
    height: auto;
}
.col_div p, .col_div iframe, .col_div form, .col_div img {
  margin: 0 35px 32px 35px;
}
.col_div h1, .col_div h2, .col_div h3 {
  margin: 5px 35px;  
}
/* formularios en en el container*/
.content_container  form INPUT{
    margin-bottom: 10px;
}
.content_container form INPUT[type="password"],
.content_container form INPUT[type="text"],
.content_container form INPUT[type="email"]{
    width: 315px;
    height: 30px;
    border: none;
    border-bottom: 1px dashed #D35555;
    background-color: whitesmoke;
    font-size: 17px;
    margin-bottom: 20px;
    padding-left: 15px;
    -webkit-transition: background 500ms ease;
    transition: background 500ms ease;
}
.content_container  form INPUT[type="password"]:focus,
.content_container form INPUT[type="text"]:focus,
.content_container form INPUT[type="email"]:focus{
    background-color: #D35555;
    color: white;
    outline: none;
}
.content_container form INPUT[type="submit"]{
    cursor: pointer;
    float: right;
}
input:focus::-webkit-input-placeholder{ color: white; }
input:focus::-moz-placeholder{ color: white; }
input:focus:-ms-input-placeholder{ color: white; }
input:focus:-moz-placeholder{ color: white; }

/* especificos de la home*/
.col_div.home {
  padding-top: 250px;
}
/* especificos de NOSOTROS*/
.col_div.us {
  padding-top: 140px;
}
/* especificos de DONANTES: */
.Opciones {
    margin-left: 15px; margin-top: 50px;
    height: 440px;
    -webkit-transition: height 400ms ease;
    transition: height 400ms ease;
    overflow: hidden;
}
.Opciones>div{
    width: 100px;
    height: 92px;
    background-color: #F16B6B;
    color: white;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    padding: 30px 25px 0 25px;
    margin: 18px 18px 72px 18px;
	cursor: pointer;
    border-bottom: solid 3px #D35555;
    border-radius: 0 0 3px 3px;
	-moz-user-select: none;
	-khtml-user-select: none;
    -webkit-box-shadow: black 0px 0px 25px -5px;
    box-shadow: black 0px 0px 25px -5px;
    float:left;
    position: relative;
}
.Opciones>div span{
    font-size: 13px;
    line-height: 18px;
    color: #D35555;
    position: absolute;
    top: 130px; left: 0;
}

.Secciones{
    clear:both;
}
.Secciones>div {
    position: relative;
    opacity: 0;
    width: 400px;
    -webkit-transition: opacity 700ms ease-in;
    transition: opacity 700ms ease-in;
    height: 0;
    overflow: hidden;
}

.Opciones.seleccionada{
    height: 170px;
}
.Opciones.seleccionada>div, .Opciones.seleccionada span{
  display:none;
  /*importante ocultar las opciones para asegurarse de elegir
  solo una a la vez*/
}
.Opciones.seleccionada>.seleccionada {
  display:block;
}
.Secciones>.seleccionada {
  opacity: 1;
  height: auto;
  min-height: 406px;
  -webkit-animation: noscroll 400ms;
  animation: noscroll 400ms;/*para evitar que aparezca el scroll*/
}

.Secciones h2{
    left: 16px;
    top: 20px;
    cursor: pointer;
    opacity: 0.3;
    -webkit-transition: opacity 500ms ease;
    transition: opacity 500ms ease;
}
.Secciones h2:hover{opacity: 0.8;}
.Secciones h2:last-of-type{
    right: 0;
    left: inherit;
}
.Secciones h2.seleccionada{
    border-bottom: solid 2px #D35555;
    opacity: 1;
}
.Secciones ul, .Secciones h2{
    position: absolute;
}
.Secciones ul, .Secciones ol {
    padding-left: 35px;
}
.Secciones ul{
    opacity: 0;
    -webkit-transition: opacity 0.7s ease;
    transition: opacity 0.7s ease;
    top: 56px;
}
.Secciones ul.seleccionada{
    opacity: 1;
}
.Secciones li {
    display: block;
    float: left;
    width: 154px;
    margin-right: 20px;
    margin-bottom: 26px;
    text-align: center;
    color: #D35555;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}
.Secciones li:nth-child(2n+1) {
    clear:both;
}
.Secciones li strong{
display: block;
}
.bolsa{background-color: #f16b6b;
background-image:url("bolsa.png");
background-size: 46px 25px;
background-repeat: no-repeat;
background-position: 18px 32px;
position: absolute;
height: 62px;
width: 64px;
left: 168px;
border-radius: 50%;
}
.bolsa:before{
    content: "---";
    display: block;
    position: absolute;
    border: solid 2px white;
    margin: auto;
    top: 9px;
    bottom: 25px;
    left: 18px;
    right: 22px;
    border-radius: 6px;
    border-bottom-width: 0;
    -webkit-transition: border-bottom-width 500ms ease;
    transition: border-bottom-width 500ms ease;
    text-align: center;
    font-size: 21px;
    color: #F16B6B;
}
.bolsa:hover:before{
    border-bottom-width: 7px;
}
.bolsa.llena:before{
    border-bottom-width: 26px;
}
.bolsa.llena:hover:before{
    border-bottom-width: 19px;
}

.col_div .cota{
    line-height: 17px;
    font-size: 13px;
    font-style: italic;
}
/* exclusivos de la pag. ENTRAR */
.col_div.ingresar {
  padding-top: 65px;
}
/*estos son los específicos de la barra--------------------*/
.campania{
    width: 69%;
    font-weight: 300;
    font-size: 14px;
    color: white;
    margin-left: 1%;
    margin-bottom: 6px;
    display: inline-block;
}
.campania:before{ content: "Donantes en: "; font-weight:400;}
.banco .campania{color: black;}
.banco .campania:before{content: "";}

.faltandias{
    position: relative;
    width: 29%;
    font-size: 14px;
    color: #F16B6B;
    text-align: right;
    margin-right: 1%;
    margin-bottom: 6px;
    display: inline-block;
}
.faltandias:before{content: "faltan ";} 
.faltandias:after{content: " días";}

.bar-main-container {
    width: 99%;
    font-family: 'Oswald', sans-serif;
    text-align: left;
    margin: 0 auto;
}

.bar-container {
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 37px;
    background: #F16B6B;
    width: 100%;
    overflow: hidden;
    border: solid 1px white;
    color: white;
}

.bar, .registrados, .objetivo{ font-size: 20px; line-height: 2;}
.bar {
    float: left;
    height: 100%;
    position:relative;
}
.bar div {
    background: #D35555;
    height: 100%;
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: right;
    -webkit-animation: ensanchar 3s;
    animation: ensanchar 3s;
}
.bar div:after{
  content: " ";
  background: url('gotas.png') -23px 1px no-repeat;
  display: inline-block;
  width: 20px; height: 27px;
  position:relative; top:2px;
  margin: 0 10px;
}

.objetivo:before , .registrados:after{
  font-size: 13px;
  font-weight: 300;
}
.objetivo{
  position: absolute;
  right:6px;
}

.registrados{
  position: absolute;
  left:1px;
  padding: 0 9px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #D35555;
  height: 36px;
}
.registrados:after {content:" REGISTRADOS";}
.objetivo:before {content:"OBJETIVO: ";}

/*----Slogan-------*/
.slogan {width: 330px; height: 80px; position: relative;margin: 80px 35px 60px 35px;}
.slogan p, .slogan h2, .slogan h3 {margin:0px; position: absolute; font-weight:bold; color:#D35555;}
.slogan p {top:48px; left: 0; font-size: 20px;}
.slogan p:first-child {top: 0; left: 0; font-size: 16px;}
.slogan p:nth-child(2) {top: 24px; left: 50px; font-size: 28px;}
.slogan h2 {top: 0; right:1px; font-size: 28px;}
.slogan h3 {top:36px; right:0; font-size: 36px;}
.slogan h3:hover, .slogan h2:hover {font-size: 39px; background:white;}
/*----especificos de la gota-------*/
.boton_donar{
    position: relative;
    font-family: 'Oswald', sans-serif;
    text-align:center;
    display: block;
    margin-right: 120px; float:right;
    margin-top: 270px;
    width: 160px;
}
.boton_donar a, .boton_donar a:visited{
    font-size: 28px;
    font-weight: 700;
    color: #D35555;
    width: 85px;
    height: 65px;
    padding: 112px 37px 50px 37px;
    display: block;
    background-image: url("quierodonar_btn.png");
    background-repeat:no-repeat;
}
.boton_donar p{
    margin-top: 16px;
    font-size: 14px;
    color: white;
    font-weight: 300;
    line-height: 20px;
}
/*-----pagina con menu y sin columnas----------*/
.container_menu {
    border-bottom: 1px solid #D35555 ;
    background-color: #f16b6b;
    background-color: rgba(241, 107, 107, 0.9);
    position: fixed; z-index:1;
    width: 100%; height: 55px;
    overflow: hidden;
}
.container_menu~.col_none {margin-top:  55px;}
.container_menu .faldon_top{
    margin-top: 12px;
}
.container_menu INPUT{
    float: right;
}
.col_none{
    max-width: 800px;
    margin-left: auto; margin-right: auto;
}
.banco {
    border: solid 1px whitesmoke;
    margin: 42px 4px;
    padding: 22px 8px;
    -webkit-box-shadow: 0 35px 35px -35px #699;
    box-shadow: 0 30px 35px -35px #699;
}

.ficha_banco {
    float: right;
    width: 65%;
    padding-left: 8px;
}

/*animaciones*/
@-webkit-keyframes ensanchar{from {width:30%;} to {width:100%;}}
@keyframes ensanchar{from {width:1%;} to {width:100%;}}
@-webkit-keyframes noscroll {
    from {height:1px; min-height: inherit;}
    to {height:140px; min-height: inherit;}}
@keyframes noscroll{
    from {height: 1px; min-height: inherit;}
    to {height: 140px; min-height: inherit;}}