@import 'bootstrap';

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


.badget {
    background: none repeat scroll 0 0 #e14b51;
    display: inline-block;
    height: 52px;
    margin: 4px;
    overflow: hidden;
    transition: width 0.5s ease 0s;
    width: 58px;
}


.medalla {
    background: url("http://nicolasfigliozzi.com.ar/blodbrother/badgets.png") no-repeat scroll 25% 5px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 52px;
    margin-left: 7px;
    width: 45px;
}
