html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html,body { overflow-x: hidden;}
body {
    line-height: 1;
    background-color:#D35555;

}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*estos son los específicos de la cabecera------------------*/
.faldon_top_container{
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    position: fixed; z-index:2;
    width: 100%;
    background: white;
    background:rgba(255, 255, 255, 0.9);
    height: 70px;
    border-bottom: 1px solid #D35555;
    -webkit-box-shadow:inset 0 35px 35px -35px #699;
    box-shadow:inset 0 35px 35px -35px #699;
}
.faldon_top{
    position: relative;
    width: 800px;
    height: 70px;
    margin: 0 auto;
}
.logo_top_container{
    position: absolute;
    top: 12px;
    left: 4px;
    background: #D35555;
    border-bottom: solid 2px #D35555;
    -webkit-box-shadow: black 0px 0px 25px -5px;
    box-shadow: black 0px 0px 25px -5px;
    z-index: 9999;
}

/*MENU*/
ul#menu, ul.sub-menu, ul#sobre_derecha {
    padding:0;
    margin: 0;
    position: absolute;
}
ul#menu {left: 195px; top: 34px;} ul#sobre_derecha{right: 4px;top: 30px;}

ul#menu li, ul.sub-menu li, ul#sobre_derecha li {
    list-style-type: none;
    display: inline-block;
    position: relative;
}
/*SUB MENU*/
li ul.sub-menu {
    display:none;
    position: absolute;
    left: 0;
}
li:hover ul.sub-menu {
    display:block;
}

ul.sub-menu li{
    background: #fff;
    width: 130px;
    padding: 5px;
}
/*Links*/
ul#menu>li>a, ul#sobre_derecha>li>a{
    color: #F16B6B;
    text-decoration: none;
    padding: 6px 9px;
    display: inline-block;
    border-right: 1px solid #D35555;
}
ul.sub-menu li>a {
    color: #D35555;
    padding: 5px;
}
ul.sub-menu li>a:hover {
    font-weight: 700;
}
ul#sobre_derecha li a:hover{
  font-style: italic;
}
/*sobre derecha*/
#sobre_derecha li>a{
    padding: 9px !important;
    background-color: whitesmoke;
}
#sobre_derecha li:last-child>a{
    background-color:#F16B6B;
    color: white;
}
#sobre_derecha li>span {
    position: relative;
    right: 28px;
    bottom: 1px;
}
#sobre_derecha .HS_email {
  background-color: whitesmoke;
  background-image:url("http://w.sharethis.com/images/email_16.png");
  background-repeat:no-repeat;
  width: 16px;
  height: 16px;
  overflow: hidden;
  right: 9px;
  position: absolute;
  z-index: 10;
  transition: width 500ms ease;
}
#sobre_derecha .HS_email:hover {width: 75px;}
.HS_email a {
  padding: 0 21px;
  color: #F16B6B;
}

/*----general contenido de toda la app-------*/
.content_container{
    position: relative;
    width: 100%;
    border-top: solid 70px white;
}
.h_container{
    position: absolute;
    top: 65px;
    left: 50%;
    margin-left: -400px;
    max-width: 800px;
    width: 800px;
    height: 35px;
    z-index: 1;
    text-align: center;
}
.h_container h1{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #000;
    text-align: center;
    margin-bottom: 35px;
    background-color: whitesmoke;
    display: inline-block;
}
.h_container~.col_der {padding-top: 120px;}

.col_der{
  background: #FFF;
  min-height: 500px;
  padding-left: 50%;
}
.col_izq{
    position: absolute;
    width:50%; height:100%;
    top: 0; left: 0;
    background: #F16B6B;
}

.col_izq .col_div {float: right;}
.col_div{
  max-width: 400px;
  overflow: hidden;
  font-family: Oswald, sans-serif;
}
.col_div p{
  font-size: 13px;
  font-weight: 300;
  line-height: 1.3;
  text-align: justify;
}
.col_div .imagen{
    position: relative;
    float: right;
    width: 160px;
    height: auto;
}
.col_div p, .col_div iframe, .col_div form, .col_div img {
  margin: 0 35px 35px 35px;
}
.col_div h2 {
  margin: 5px 35px;
}
/* formularios en una columna*/
.col_div form INPUT{
    margin-bottom: 10px;
}
.col_div form INPUT[type="password"],
.col_div form INPUT[type="text"],
.col_div form INPUT[type="email"]{
    width: 315px;
    height: 30px;
    border: none;
    border-bottom: 1px dashed #D35555;
    background-color: whitesmoke;
    font-size: 17px;
    margin-bottom: 20px;
    padding-left: 15px;
    transition: background 500ms ease;
}
.col_div form INPUT[type="password"]:focus,
.col_div form INPUT[type="text"]:focus,
.col_div form INPUT[type="email"]:focus{
    background-color: #D35555;
    color: white;
    outline: none;
}
.col_div form INPUT[type="submit"]{
    cursor: pointer;
    float: right;
}
input:focus::-webkit-input-placeholder{ color: #fff; }
input:focus::-moz-placeholder{ color: #fff; }
input:focus:-ms-input-placeholder{ color: #fff; }
input:focus:-moz-placeholder{ color: #fff; }

/* exclusivos de la home*/
.col_div.home {
  padding-top: 150px;
  padding-bottom: 35px;
}
/* exclusivos de la pag. ENTRAR */
.col_div.ingresar {
  padding-top: 65px;
}
/* especificos de Info útil: */
#preguntas>div {
  margin: 0px;
  padding: 0px;
}
.pregunta{
  margin: 8px 35px;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
}
.respuesta {
  overflow: auto;
  padding: 0px; /* NO CAMBIaR EL PAddiNG! */
}

.enlaMira { outline: none;}
.enlaMira .pregunta { color: whitesmoke; }
.enlaMira .pestaniaAbierta .pregunta {color: black;}

.preguntaSeleccionada,
.enlaMira .preguntaSeleccionada {
  color: #F16B6B;
}
.pestaniaAbierta .preguntaSeleccionada,
.enlaMira .pestaniaAbierta .preguntaSeleccionada {
  color: #D35555;
}
/*estos son los específicos de la barra--------------------*/
.campania{
    width: 69%;
    font-weight: 300;
    font-size: 14px;
    color: #FFF;
    margin-left: 1%;
    margin-bottom: 6px;
    display: inline-block;
}
.campania:before{ content: "Donantes en: "; font-weight:400;}

.faltandias{
    position: relative;
    width: 29%;
    font-size: 14px;
    color: #F16B6B;
    text-align: right;
    margin-right: 1%;
    margin-bottom: 6px;
    display: inline-block;
}
.faltandias:before{content: "faltan ";}
.faltandias:after{content: " días";}

.bar-main-container {
    width: 99%;
    font-family: 'Oswald', sans-serif;
    text-align: left;
    margin: 0 auto;
}

.bar-container {
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 37px;
    background: #F16B6B;
    width: 100%;
    overflow: hidden;
    border: solid 1px #fff;
    color: #fff;
}

.bar, .registrados, .objetivo{ font-size: 20px; line-height: 2;}
.bar {
    float: left;
    height: 100%;
    position:relative;
}
.bar div {
    background: #D35555;
    height: 100%;
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: right;
    -webkit-animation: ensanchar 3s;
    animation: ensanchar 3s;
}
.bar div:after{
  content: " ";
  background: url('http://nicolasfigliozzi.com.ar/blodbrother/gotas.png') -23px 1px no-repeat;
  display: inline-block;
  width: 20px; height: 27px;
  position:relative; top:2px;
  margin: 0 10px;
}

.objetivo:before , .registrados:after{
  font-size: 13px;
  font-weight: 300;
}
.objetivo{
  position: absolute;
  right:6px;
}

.registrados{
  position: absolute;
  left:1px;
  padding: 0 9px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #D35555;
  height: 36px;
}
.registrados:after {content:" REGISTRADOS";}
.objetivo:before {content:"OBJETIVO: ";}

/*----Slogan-------*/
.slogan {width: 330px; height: 80px; position: relative; margin: 90px 35px;}
.slogan p, .slogan h2, .slogan h3 {margin:0px; position: absolute; font-weight:bold; color:#D35555;}
.slogan p {top:48px; left: 0; font-size: 20px;}
.slogan p:first-child {top: 0; left: 0; font-size: 16px;}
.slogan p:nth-child(2) {top: 18px; left: 50px; font-size: 28px;}
.slogan h2 {top: 0; right:1px; font-size: 28px;}
.slogan h3 {top:36px; right:0; font-size: 36px;}
.slogan h3:hover, .slogan h2:hover {font-size: 39px; background:white;}
/*----especificos de la gota-------*/
.boton_donar, .boton_donar:visited{
    position: relative;
    font-family: Oswald;
    font-size: 28px;
    font-weight: 700;
    text-align:center;
    color: #D35555;
    width: 85px;
    height: 65px;
    padding: 112px 37px 50px 37px;
    display: block;
    margin-right: 120px; float:right;
    margin-top: 270px;
    background-image: url("http://nicolasfigliozzi.com.ar/blodbrother/quierodonar_btn.png");
    background-repeat:no-repeat;
}