html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background-color:#D35555;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*---------------*/
.main_container{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
}

/*estos son los específicos de la cabecera------------------*/
.faldon_top_container{
    font-family: 'Oswald', sans-serif;
    position: relative;
    width: 100%;
    background: #000;
    height: 70px;
}

.faldon_top{
    position: relative;
    width: 800px;
    height: 70px;
    margin: 0 auto;
}

.logo_top_container{
    position: absolute;
    top: 10px;
    left: 0;
    border-bottom: solid 1px #D35555;
    -webkit-box-shadow: black 0px 0px 25px -5px;
    box-shadow: black 0px 0px 25px -5px;
    z-index: 9999;
}

.textos_container{
    position: relative;
    width: 570px;
    float: right;
    margin-top: 38px;
}

.texto_faldon{
    position: relative;
    display: block;
    float: left;
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
}

/*Initialize*/
ul#menu, ul#menu ul.sub-menu {
    padding:0;
    margin: 0;
}
ul#menu li, ul#menu ul.sub-menu li {
    list-style-type: none;
    display: inline-block;
}
/*Link Appearance*/
ul#menu li ul.sub-menu li a {
    text-decoration: none;
    /*p*/color: #D35555;
    padding: 5px;
    display:inline-block;
    /*font: 14px Arial;*/
}

ul#menu li a{
    color: #fff;
    text-decoration: none;
    padding: 5px;
    display:inline-block;
    /*font: 14px Arial;*/
}
/*Make the parent of sub-menu relative*/
ul#menu li {
    position: relative;
}
/*sub menu*/
ul#menu li ul.sub-menu {
    display:none;
    position: absolute;
    left: 0;
    width: 100px;
}
ul#menu li:hover ul.sub-menu {
    display:block;
}

ul,li{
    z-index: 9999999999;
}

.sobre_derecha{
    float: right;
}

ul.sub-menu li{
    background: #fff;
    width: 125px;
    height: 25px;
}

/*-----------*/

.derecha{
    float: right !important;
}

.content_container{
    position: relative;
    width: 100%;
    height: 600px;
    min-height: 100%;
}

.boton_donar{
    position: relative;
    width: 282px;
    height: 316px;
    display: block;
    margin: 0 auto;
    margin-top: 275px;
    float: right;
    margin-right: 55px;
}

.columna{
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}

.col_izq{
    background: #F16B6B;
}

.col_der{
    background: #FFF;
}

.text_home_container{
    position: relative;
    font-size: 13px;
    font-family: Oswald, sans-serif;
    font-weight: 300;
    line-height: 1.3;
    color: #000;
    width: 330px;
    height: auto;
    margin-bottom: 25px;
    text-align: justify;
    margin-left: 38px;
    margin-top: 275px;
}

.video_container{
    position: relative;
    width: 300px;
    height: 160px;
    background: grey;
    margin-left: 38px;
}

.h_container{
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    margin: auto auto;
    max-width: 800px;
    width: auto;
    height: 35px;
    z-index: 15;
    text-align: center;
}
.h_container h1{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;  
    color: #000;
    text-align: center;
    margin-bottom: 35px;
    background-color: whitesmoke;
    display: inline-block;
}

/*estos son los específicos de la barra--------------------*/
.campania{
    width: 69%;
    font-weight: 300;
    font-size: 14px;
    color: #FFF;
    margin-left: 1%;
    margin-bottom: 6px;
    display: inline-block;
}
.campania:before{ content: "Donantes en: "; font-weight:400;}

.faltandias{
    position: relative;
    width: 29%;
    font-size: 14px;
    color: #F16B6B;
    text-align: right;
    margin-right: 1%;
    margin-bottom: 6px;
    display: inline-block;
}
.faltandias:before{content: "faltan ";} 
.faltandias:after{content: " días";}

.bar-main-container {
    width: 100%;
    font-family: 'Oswald', sans-serif;
    text-align: left;
}

.bar-container {
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 37px;
    background: #F16B6B;
    width: 100%;
    overflow: hidden;
    border: solid 1px #fff;
    color: #fff;
}

.bar, .registrados, .objetivo{ font-size: 20px; line-height: 2;}
.bar {
    float: left;
    height: 100%;
    position:relative;
}
.bar div {
    background: #D35555;
    height: 100%;
    width: 100%
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: right;
    -webkit-animation: ensanchar 3s;
    animation: ensanchar 3s;
}
.bar div:after{
  content: " ";
  background: url('http://nicolasfigliozzi.com.ar/blodbrother/gotas.png') -23px 1px no-repeat;
  display: inline-block;
  width: 20px; height: 27px;
  position:relative; top:2px;
  margin: 0 10px;
}

.objetivo:before , .registrados:after{
  font-size: 13px;
  font-weight: 300;
}
.objetivo{
  position: absolute;
  right:6px;
}

.registrados{
  position: absolute;
  left:1px;
  padding: 0 9px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #D35555;
  height: 36px;
}
.registrados:after {content:" REGISTRADOS";}
.objetivo:before {content:"OBJETIVO: ";}

/*animación de barra*/
@-webkit-@keyframes ensanchar{from {width:30%;} to {width:100%}}
@keyframes ensanchar{from {width:1%;} to {width:100%}}

/*-----------*/

.inputs_container{
    position: relative;
    width: 300px;
    margin-left: 30px;
}

.inputs_container INPUT{
    position: relative;
    width: 100%;
    height: 30px;
    border: solid 1px #000;
    margin-bottom: 10px;
    font-size: 1em;
    padding-left: 15px;
}

.email_input{
    width: 298px;
    height: 30px;
    border: solid 1px #000;
    font-size: 17px;
    margin-bottom: 20px;
    font-family: Arial;
    padding-left: 5px;
}

.titulo_ingresar{
    position: relative;
    width: 100%;
    margin-top: 300px;
    margin-left: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}

.btn_ingresar{
    position: relative;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 120px;
}

.infos_container{
    position: relative;
    width: 350px;
    margin-left: 38px;
    margin-top: 275px;
}

.col_texto{
    position: relative;
    float: left;
    width: 140px;
    height: auto;
}

.img_container{
    position: relative;
    float: right;
    width: 160px;
    height: auto;
}

.titulo_nosotros{
    position: relative;
    font: 14px Arial;
}

.descr_nosotros{
    position: relative;
    font: 11px Arial;
    margin-top: 10px;
    margin-bottom: 15px;
}

.logos_nosotros{
    position: relative;
    width: 350px;
    height: auto;
}
