@charset "UTF-8";
/* normalize-scss 3.0.2+normalize.3.0.2 | MIT/GPLv2 License | bit.ly/normalize-scss */
/**
 * Establish a vertical rhythm unit using $base-font-size, $base-line-height,
 * and $rhythm-unit variables. Also, correct text resizing oddly in IE 6/7 when
 * body `font-size` is set using `em` units.
 */
/* line 106, ../../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 76, ../sass/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 88, ../sass/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 102, ../sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 123, ../sass/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  *display: inline;
  *zoom: 1;
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 142, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 */
/* line 152, ../sass/_normalize.scss */
[hidden] {
  display: none;
}

/**
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 161, ../sass/_normalize.scss */
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 173, ../sass/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 182, ../sass/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 194, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 202, ../sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 212, ../sass/_normalize.scss */
blockquote {
  margin: 1.5em 40px;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 221, ../sass/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 230, ../sass/_normalize.scss */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  line-height: 1.5em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

/* line 245, ../sass/_normalize.scss */
h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 251, ../sass/_normalize.scss */
h3 {
  font-size: 1.17em;
  line-height: 1.28205em;
  margin-top: 1.28205em;
  margin-bottom: 1.28205em;
}

/* line 257, ../sass/_normalize.scss */
h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* line 263, ../sass/_normalize.scss */
h5 {
  font-size: 0.83em;
  line-height: 1.80723em;
  margin-top: 1.80723em;
  margin-bottom: 1.80723em;
}

/* line 269, ../sass/_normalize.scss */
h6 {
  font-size: 0.67em;
  line-height: 2.23881em;
  margin-top: 2.23881em;
  margin-bottom: 2.23881em;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 281, ../sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 292, ../sass/_normalize.scss */
p,
pre {
  margin: 1.5em 0;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 302, ../sass/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 310, ../sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 318, ../sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 322, ../sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
/* line 334, ../sass/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1.5em 0;
}

/* line 355, ../sass/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */
/* line 363, ../sass/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */
/* line 375, ../sass/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 390, ../sass/_normalize.scss */
img {
  border: 0;
  /* Improve image quality when scaled in IE 7. */
  -ms-interpolation-mode: bicubic;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 403, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 415, ../sass/_normalize.scss */
figure {
  margin: 1.5em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 424, ../sass/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 433, ../sass/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 441, ../sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
/* line 465, ../sass/_normalize.scss */
form {
  margin: 0;
}

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 5. Improve appearance and consistency with IE 6/7.
 */
/* line 479, ../sass/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  *font-family: sans-serif;
  /* 4 */
  *vertical-align: middle;
  /* 5 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 497, ../sass/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 508, ../sass/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 523, ../sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 538, ../sass/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 547, ../sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 558, ../sass/_normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 573, ../sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 590, ../sass/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 601, ../sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
}
/* line 611, ../sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 621, ../sass/_normalize.scss */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 0.4625em;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 0.9125em;
  border-left-width: 0.0625em;
  border-left-style: solid;
  padding-left: 0.875em;
  border-right-width: 0.0625em;
  border-right-style: solid;
  padding-right: 0.875em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 637, ../sass/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 651, ../sass/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 660, ../sass/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 671, ../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 676, ../sass/_normalize.scss */
td,
th {
  padding: 0;
}

/* List of stylesheet variables: +/

/* COLORS: */
/* IMAGES */
/* FONTS */
/* line 11, ../sass/_grids.scss */
.col-1, .faldon_top_container, .content_container, form INPUT[type="password"],
form INPUT[type="text"],
form INPUT[type="email"],
.similInput, form INPUT[type="submit"], .container_menu, .bar-container, .bar div {
  width: 100%;
}

/* line 15, ../sass/_grids.scss */
.col-1-2, .col_izq {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 5%;
  padding-right: 5%;
}
/* line 18, ../sass/_grids.scss */
.col-1-2.last, .last.col_izq {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: right;
  padding-left: 5%;
  padding-right: 5%;
}

/* line 23, ../sass/_grids.scss */
.col-1-3 {
  width: 33.33%;
}

/* line 27, ../sass/_grids.scss */
.col-1-4 {
  width: 25%;
}

/* line 31, ../sass/_grids.scss */
.col-1-5 {
  width: 20%;
}

/* line 35, ../sass/_grids.scss */
.col-1-6 {
  width: 16.66%;
}

/* line 39, ../sass/_grids.scss */
.col-1-8 {
  width: 12.5%;
}

/* line 43, ../sass/_grids.scss */
.col-1-9 {
  width: 11.11%;
}

/* line 47, ../sass/_grids.scss */
.col-1-10 {
  width: 10%;
}

/* line 51, ../sass/_grids.scss */
.col-2-3 {
  width: 66.66%;
}

/* line 55, ../sass/_grids.scss */
.col-3-4 {
  width: 75%;
}

/* line 59, ../sass/_grids.scss */
.col-7-8 {
  width: 87.5%;
}

/* line 63, ../sass/_grids.scss */
.col-3-10 {
  width: 30%;
}

/* line 67, ../sass/_grids.scss */
.col-9-10, .list-info .text-content {
  width: 90%;
}

/* line 1, ../sass/_header.scss */
.navbar-logo {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 5%;
  padding-right: 5%;
  background: #F16B6B;
  height: 100%;
  padding-right: 1%;
}
/* line 7, ../sass/_header.scss */
.navbar-logo a {
  font-family: "Oswald", sans-serif;
  height: 100%;
  float: right;
  width: 70%;
  position: relative;
}

/* line 15, ../sass/_header.scss */
.logo {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: url(asset-path("big-logo.png")) no-repeat center;
}

/* line 23, ../sass/_header.scss */
.text-logo {
  bottom: 0;
  color: #FFFFFF;
  font-size: 42px;
  line-height: 55px;
  margin-left: 50%;
  padding: 0;
  position: absolute;
  right: 0;
  text-transform: uppercase;
}

/* line 34, ../sass/_header.scss */
.menus {
  height: 40%;
  background-color: #ffffff;
}
/* line 38, ../sass/_header.scss */
.menus.last {
  padding-left: 1%;
}

/* line 42, ../sass/_header.scss */
ul#menu, ul.sub-menu, ul#sobre_derecha {
  padding: 0;
  margin: 0;
  position: absolute;
  list-style: none;
}
/* line 48, ../sass/_header.scss */
ul#menu li, ul.sub-menu li, ul#sobre_derecha li {
  display: inline-block;
  position: relative;
}

/* line 53, ../sass/_header.scss */
ul#menu {
  top: 34px;
}

/* line 56, ../sass/_header.scss */
ul#sobre_derecha {
  right: 5%;
}

/* line 59, ../sass/_header.scss */
.top30 {
  top: 30px;
}

/* line 62, ../sass/_header.scss */
.sub-menu {
  display: none;
  position: absolute;
  left: 0;
  padding-top: 10px;
}
/* line 68, ../sass/_header.scss */
li:hover .sub-menu {
  display: block;
}
/* line 71, ../sass/_header.scss */
.sub-menu li {
  background: rgba(255, 255, 255, 0.9);
  width: 130px;
  padding: 10px 5px;
}
/* line 76, ../sass/_header.scss */
.sub-menu li:hover {
  background-color: #FFFFFF;
}
/* line 80, ../sass/_header.scss */
.sub-menu a {
  color: #D35555;
  padding: 5px;
  display: block;
  text-decoration: none;
}
/* line 86, ../sass/_header.scss */
.sub-menu a:hover {
  font-weight: 700;
}

/* line 91, ../sass/_header.scss */
ul#menu > li > a, ul#sobre_derecha > li > a {
  color: #F16B6B;
  text-decoration: none;
  padding: 6px 9px;
  display: inline-block;
  border-right: 1px solid #D35555;
  letter-spacing: 1px;
}

/* line 99, ../sass/_header.scss */
ul#sobre_derecha li a:hover {
  font-style: italic;
}

/*sobre derecha*/
/* line 104, ../sass/_header.scss */
#sobre_derecha li > a {
  padding: 9px !important;
  background-color: #F5F5F5;
}

/* line 108, ../sass/_header.scss */
#sobre_derecha li:last-child > a {
  background-color: #F16B6B;
  color: white;
}

/* line 112, ../sass/_header.scss */
#sobre_derecha li > span {
  position: relative;
  right: 28px;
  bottom: 1px;
}

/* line 117, ../sass/_header.scss */
#sobre_derecha .HS_email {
  background-color: #F5F5F5;
  background-image: url("http://w.sharethis.com/images/email_16.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  overflow: hidden;
  right: 9px;
  position: absolute;
  z-index: 10;
  -webkit-transition: width 500ms ease-in;
  transition: width 500ms ease;
}

/* line 130, ../sass/_header.scss */
#sobre_derecha .HS_email:hover {
  width: 75px;
}

/* line 133, ../sass/_header.scss */
.HS_email a {
  padding: 0 21px;
  color: #F16B6B;
}

/* CSS HERMANOS DE SANGRE - Indice

• 1 REGLAS GENERALES
--- • 1 • a CABECERA
--- • 1 • b CONTENIDO
--- • 1 • c FORMULARIOS
--- • 1 • d SECCIONES
--- • 1 • e CONTENIDO SIN COLUMNAS
--- • 1 • f CONTENIDO LISTADO

• 2 REGLAS EXCLUSIVAS (por páginas)
--- • 2 • a HOME
--- • 2 • b DONANTES
--- • 2 • c ¿QUIENES SOMOS?
--- • 2 • d ENTRAR Y REGISTRAR
--- • 2 • e PERFIL de USUARIO
--- • 2 • f LISTA DE ONGS

• 3 REGLAS DE PARCIALES
--- • 3 • a BARRA DE PORCENTAJE
--- • 3 • b GOTA
--- • 3 • c BADGETS

• 4 ANIMACIONES
*/
/*--- • 1 • a REGLAS de la CABECERA --------------------------*/
/* line 28, ../sass/_custom.scss */
.faldon_top_container {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  position: fixed;
  z-index: 2;
  height: 220px;
}
/* line 39, ../sass/_custom.scss */
.faldon_top_container .sub-menu ul li a {
  text-decoration: none;
}

/* line 46, ../sass/_custom.scss */
.faldon_top {
  position: relative;
  height: 220px;
  margin: 0 auto;
}

/* line 51, ../sass/_custom.scss */
.logo_top_container {
  position: absolute;
  top: 12px;
  left: 4px;
  background: #D35555;
  border-bottom: solid 2px #D35555;
  -webkit-box-shadow: black 0px 0px 25px -5px;
  box-shadow: black 0px 0px 25px -5px;
  z-index: 9999;
}

/*MENU*/
/*--- • 1 • b REGLAS del CONTENIDO ---------------------------*/
/* line 65, ../sass/_custom.scss */
.content_container {
  position: relative;
  background: #FFFFFF;
  font-family: "Oswald", sans-serif;
}

/* line 72, ../sass/_custom.scss */
h1 {
  font-size: 30px;
  margin-bottom: 35px;
}

/* line 77, ../sass/_custom.scss */
.col_izq .col_div {
  float: right;
}

/* line 78, ../sass/_custom.scss */
.col_div {
  overflow: hidden;
  font-family: "Oswald", sans-serif;
  position: relative;
  top: 160px;
}

/* line 84, ../sass/_custom.scss */
.col_div p,
.col_div span {
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
  text-align: justify;
}

/* line 91, ../sass/_custom.scss */
.col_div .imagen {
  position: relative;
  float: right;
  width: 160px;
  height: auto;
}

/* line 97, ../sass/_custom.scss */
.col_div > p, .col_div div > p, .col_div iframe, .col_div form, .col_div img {
  margin: 0 35px 32px;
}

/* line 101, ../sass/_custom.scss */
.col_div > p:last-child {
  margin-bottom: 0;
}

/* line 104, ../sass/_custom.scss */
.col_div h1, .col_div h2, .col_div h3, .col_div h4 {
  margin: 5px 35px;
}

/* line 108, ../sass/_custom.scss */
.col_div span {
  margin: 0 35px;
}

/* line 112, ../sass/_custom.scss */
.Logos {
  text-align: center;
}

/* line 116, ../sass/_custom.scss */
.Logos img {
  margin: 0 30px 32px;
}

/*--- • 1 • c REGLAS de FORMULARIOS --------------------------*/
/* line 121, ../sass/_custom.scss */
.col_div form {
  margin-top: 30px;
}

/* line 124, ../sass/_custom.scss */
.inputLargo {
  width: 315px;
  margin-bottom: 10px;
  overflow: hidden;
}

/* line 129, ../sass/_custom.scss */
.inputCorto {
  width: 155px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
  overflow: hidden;
}

/* line 136, ../sass/_custom.scss */
label {
  font-size: 14px;
  color: #D35555;
  padding-left: 10px;
  display: block;
  margin-bottom: 3px;
}

/* line 143, ../sass/_custom.scss */
label:after {
  content: ":";
}

/* line 144, ../sass/_custom.scss */
.similInput label {
  display: inline-block;
  margin-bottom: 0;
  padding-left: 0;
  color: black;
  font-size: 17px;
}

/* line 151, ../sass/_custom.scss */
.similInput label:after {
  content: none;
}

/* line 153, ../sass/_custom.scss */
form INPUT[type="password"],
form INPUT[type="text"],
form INPUT[type="email"],
.similInput {
  height: 30px;
  border: none;
  border-bottom: 1px dashed #D35555;
  background-color: #F5F5F5;
  font-family: "Oswald", sans-serif;
  font-size: 17px;
  padding-left: 10px;
  -webkit-transition: background 500ms ease;
  transition: background 500ms ease;
}

/* line 168, ../sass/_custom.scss */
.similInput INPUT {
  margin: 10px 0 0 0;
}

/* line 171, ../sass/_custom.scss */
.similInput div {
  padding-top: 6px;
}

/* line 174, ../sass/_custom.scss */
form INPUT[type="password"]:focus,
form INPUT[type="text"]:focus,
form INPUT[type="email"]:focus,
select:focus {
  background-color: #D35555;
  color: white;
  outline: none;
}

/* line 182, ../sass/_custom.scss */
input:focus::-webkit-input-placeholder {
  color: white;
}

/* line 183, ../sass/_custom.scss */
input:focus::-moz-placeholder {
  color: white;
}

/* line 184, ../sass/_custom.scss */
input:focus:-ms-input-placeholder {
  color: white;
}

/* line 185, ../sass/_custom.scss */
input:focus:-moz-placeholder {
  color: white;
}

/* line 187, ../sass/_custom.scss */
.col_div .notificacion {
  margin: 0;
  text-align: right;
  padding: 0 15px;
  position: relative;
  bottom: 10px;
}

/* line 194, ../sass/_custom.scss */
.notificacion a, .notificacion a:hover, .notificacion a:visited {
  color: #D35555;
}

/* line 198, ../sass/_custom.scss */
.submitArea label, .col_div .submitArea > p {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
  color: black;
}

/* line 204, ../sass/_custom.scss */
.submitArea label:after {
  content: none;
}

/* line 207, ../sass/_custom.scss */
form INPUT[type="submit"] {
  cursor: pointer;
  float: right;
  border: none;
  border-bottom: solid white 1px;
  background: #F5F5F5;
  font-family: "Oswald", sans-serif;
  color: #D35555;
  text-align: center;
  font-size: 13px;
  padding: 9px;
  margin-right: 15px;
  -webkit-box-shadow: #AAA 0px 2px 20px -5px;
  box-shadow: #AAA 0px 2px 20px -5px;
}

/* line 223, ../sass/_custom.scss */
form INPUT[type="submit"]:hover,
form INPUT[type="submit"]:focus {
  color: white;
  background-color: #F16B6B;
  border-bottom: solid #D35555 2px;
  outline: none;
}

/*--- • 1 • d REGLAS de SECCIONES ----------------------------*/
/*OPCIONES*/
/* line 232, ../sass/_custom.scss */
.donors {
  max-width: 400px;
}

/* line 235, ../sass/_custom.scss */
.Opciones {
  margin-left: 15px;
  margin-top: 60px;
  height: auto;
  -webkit-transition: height 400ms ease;
  transition: height 400ms ease;
  overflow: hidden;
}

/* line 243, ../sass/_custom.scss */
.Opciones > div {
  font-size: 115%;
  width: 100px;
  height: 60px;
  background-color: #F16B6B;
  color: white;
  font-weight: 300;
  text-align: center;
  padding: 25px 20px 0 20px;
  margin: 18px 18px 134px 18px;
  cursor: pointer;
  border-bottom: solid 3px #D35555;
  border-radius: 0 0 3px 3px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-box-shadow: black 0px 0px 25px -5px;
  box-shadow: black 0px 0px 25px -5px;
  float: left;
  position: relative;
}

/* line 263, ../sass/_custom.scss */
.Opciones > div span {
  width: 85%;
  font-size: 13px;
  line-height: 18px;
  color: #D35555;
  position: absolute;
  top: 110px;
  left: -22px;
}

/*SECCIONES*/
/* line 272, ../sass/_custom.scss */
.about,
.Secciones {
  clear: both;
  background: #FFFFFF;
}

/* line 277, ../sass/_custom.scss */
.Secciones > div {
  position: relative;
  opacity: 0;
  width: 400px;
  -webkit-transition: opacity 700ms ease-in;
  transition: opacity 700ms ease-in;
  height: 0;
  overflow: hidden;
}

/*MODIFICACIÓN AL SELECCIONAR*/
/* line 287, ../sass/_custom.scss */
.Opciones.seleccionada {
  margin-top: -17px;
  height: auto;
}

/* line 291, ../sass/_custom.scss */
.Opciones.seleccionada > div, .Opciones.seleccionada span {
  display: none;
  /*importante ocultar las opciones para asegurarse de elegir
  solo una a la vez*/
}

/* line 296, ../sass/_custom.scss */
.Opciones.seleccionada > .seleccionada {
  display: block;
  margin: 87px 0px 87px 105px;
}

/* line 300, ../sass/_custom.scss */
.Secciones > .seleccionada {
  opacity: 1;
  height: auto;
  min-height: 406px;
  -webkit-animation: noscroll 400ms;
  animation: noscroll 400ms;
  /*para evitar que aparezca el scroll*/
}

/*CONTIDO DE SECCIONES*/
/* line 308, ../sass/_custom.scss */
.Secciones ul, .Secciones h2 {
  position: absolute;
}

/* line 311, ../sass/_custom.scss */
.Secciones ul, .Secciones ol {
  display: inline-block;
  padding-left: 35px;
}

/* line 315, ../sass/_custom.scss */
.Secciones ul {
  opacity: 0;
  -webkit-transition: opacity 0.7s ease;
  transition: opacity 0.7s ease;
  top: 56px;
}

/* line 321, ../sass/_custom.scss */
.Secciones ul.seleccionada {
  opacity: 1;
}

/* line 324, ../sass/_custom.scss */
.Secciones li {
  display: block;
  float: left;
  width: 154px;
  margin-right: 20px;
  margin-bottom: 26px;
  text-align: center;
  color: #D35555;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

/* line 336, ../sass/_custom.scss */
.Secciones li:nth-child(2n+1) {
  clear: both;
}

/* line 339, ../sass/_custom.scss */
.Secciones li strong {
  display: block;
}

/* line 342, ../sass/_custom.scss */
.Secciones h2 {
  left: 16px;
  top: 20px;
  cursor: pointer;
  opacity: 0.3;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}

/* line 350, ../sass/_custom.scss */
.Secciones h2:hover {
  opacity: 0.8;
}

/* line 351, ../sass/_custom.scss */
.Secciones h2:last-of-type {
  right: 0;
  left: inherit;
}

/* line 355, ../sass/_custom.scss */
.Secciones h2.seleccionada {
  border-bottom: solid 2px #D35555;
  opacity: 1;
}

/* line 359, ../sass/_custom.scss */
.Secciones p:last-child:after {
  content: "";
  background-image: url(asset-path("gotas.png"));
  background-position: 0 -5px;
  height: 18px;
  width: 16px;
  display: inline-block;
}

/* line 368, ../sass/_custom.scss */
.Secciones a {
  color: #D35555;
  text-decoration: none;
}

/* line 373, ../sass/_custom.scss */
.Secciones a:active,
.Secciones a:hover,
.Secciones a:focus {
  opacity: 0.8;
  outline: 0;
}

/*--- • 1 • e REGLAS EXCLUSIVAS del CONTENIDO SIN COLUMNAS ---*/
/* line 381, ../sass/_custom.scss */
.container_menu {
  background-color: #F16B6B;
  background-color: rgba(241, 107, 107, 0.9);
  position: fixed;
  z-index: 1;
  height: 55px;
  overflow: hidden;
}

/*--- • 1 • f REGLAS EXCLUSIVAS del CONTENIDO LISTADO ---*/
/* line 389, ../sass/_custom.scss */
.list-info ul {
  list-style: none;
  position: relative;
  opacity: 1;
  top: 0;
}

/* line 395, ../sass/_custom.scss */
.list-info li {
  color: #313131;
  display: inline-block;
  float: none;
  margin-bottom: 15px;
  margin-right: 0;
  text-align: left;
  width: 80%;
}

/* line 404, ../sass/_custom.scss */
.list-info .ico-content {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 20px;
}

/* line 410, ../sass/_custom.scss */
.list-info .ico-content i {
  background-image: url("/assets/gotas.png");
  background-position: 0 -5px;
  content: "";
  display: block;
  height: 18px;
  width: 16px;
}

/* line 418, ../sass/_custom.scss */
.list-info .text-content {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

/*.container_menu~.col_none {margin-top:  55px;}*/
/* line 426, ../sass/_custom.scss */
.container_menu .faldon_top {
  margin-top: 12px;
}

/* line 429, ../sass/_custom.scss */
.container_menu form INPUT {
  float: right;
  width: 250px;
  background: #D35555;
  color: white;
}

/* line 435, ../sass/_custom.scss */
.col_none {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
}

/* line 440, ../sass/_custom.scss */
.col_none td {
  padding: 6px;
  font-size: 14px;
}

/*--- • 2 • a REGLAS EXCLUSIVAS de la HOME -------------------*/
/* line 445, ../sass/_custom.scss */
.col_div.home {
  padding-top: 250px;
}

/*--- • 2 • b REGLAS EXCLUSIVAS de DONANTES ------------------*/
/* line 450, ../sass/_custom.scss */
.bolsa {
  background-color: #F16B6B;
  background-image: url(asset-path("bolsa.png"));
  background-size: 46px 25px;
  background-repeat: no-repeat;
  background-position: 18px 32px;
  position: absolute;
  height: 62px;
  width: 64px;
  left: 168px;
  border-radius: 50%;
}

/* line 462, ../sass/_custom.scss */
.bolsa:before {
  content: "---";
  display: block;
  position: absolute;
  border: solid 2px white;
  margin: auto;
  top: 9px;
  bottom: 25px;
  left: 18px;
  right: 22px;
  border-radius: 6px;
  border-bottom-width: 0;
  -webkit-transition: border-bottom-width 500ms ease;
  transition: border-bottom-width 500ms ease;
  text-align: center;
  font-size: 21px;
  color: #F16B6B;
}

/* line 480, ../sass/_custom.scss */
.bolsa:hover:before {
  border-bottom-width: 7px;
}

/* line 483, ../sass/_custom.scss */
.bolsa.llena:before {
  border-bottom-width: 26px;
}

/* line 486, ../sass/_custom.scss */
.bolsa.llena:hover:before {
  border-bottom-width: 19px;
}

/* line 489, ../sass/_custom.scss */
.col_div .cota {
  line-height: 17px;
  font-size: 13px;
  font-style: italic;
}

/*--- • 2 • c REGLAS EXCLUSIVAS de ¿QUIENES SOMOS? -----------*/
/* line 496, ../sass/_custom.scss */
.col_div.us {
  max-width: 400px;
}

/* line 500, ../sass/_custom.scss */
.slogan {
  width: 330px;
  height: 80px;
  position: relative;
  margin: 80px 35px 60px 35px;
}

/* line 501, ../sass/_custom.scss */
.col_div .slogan > p, .slogan h2, .slogan h3 {
  margin: 0px;
  position: absolute;
  font-weight: bold;
  color: #D35555;
}

/* line 502, ../sass/_custom.scss */
.slogan p {
  top: 48px;
  left: 0;
  font-size: 20px;
}

/* line 503, ../sass/_custom.scss */
.slogan p:first-child {
  top: 0;
  left: 0;
  font-size: 16px;
}

/* line 504, ../sass/_custom.scss */
.slogan p:nth-child(2) {
  top: 24px;
  left: 50px;
  font-size: 28px;
}

/* line 505, ../sass/_custom.scss */
.slogan h2 {
  top: 0;
  right: 1px;
  font-size: 28px;
}

/* line 506, ../sass/_custom.scss */
.slogan h3 {
  top: 36px;
  right: 0;
  font-size: 36px;
}

/* line 507, ../sass/_custom.scss */
.slogan h3:hover, .slogan h2:hover {
  font-size: 39px;
  background: white;
}

/*--- • 2 • e REGLAS EXCLUSIVAS de PERFIL de USUARIO ---------*/
/* line 511, ../sass/_custom.scss */
.perfil .Secciones > .seleccionada {
  -webkit-animation: initial;
  animation: initial;
}

/* line 515, ../sass/_custom.scss */
.perfil .secciones p:last-of-type:after {
  content: none;
}

/* line 518, ../sass/_custom.scss */
.perfil h1 {
  z-index: 2;
  position: relative;
}

/* line 522, ../sass/_custom.scss */
.perfil .Secciones h2:last-of-type,
.perfil .Secciones h2 {
  opacity: 1;
  cursor: auto;
  background: url(asset-path("gota.png")) no-repeat;
  height: 38px;
  width: 52px;
  padding: 38px 8px 22px 8px;
  text-align: center;
  color: white;
  z-index: 0;
}

/* line 534, ../sass/_custom.scss */
.perfil h3 {
  margin-bottom: 25px;
}

/* line 537, ../sass/_custom.scss */
.perfil h3:before {
  content: "DNI. ";
  color: #F16B6B;
}

/* line 541, ../sass/_custom.scss */
.perfil h4 {
  color: #F16B6B;
  font-size: 14px;
}

/* line 545, ../sass/_custom.scss */
.perfil h4 a, .perfil h4 a:visited {
  color: #F16B6B;
}

/* line 548, ../sass/_custom.scss */
.perfil h4 a strong, .perfil h4 a:visited strong {
  color: black;
  font-weight: 400;
}

/* line 552, ../sass/_custom.scss */
.perfil .Secciones > div:first-child > p {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 23px;
}

/* line 557, ../sass/_custom.scss */
.perfil .badgets h4 {
  margin: 0;
  padding-top: 12px;
  text-align: left;
}

/* line 562, ../sass/_custom.scss */
.cambiar {
  cursor: pointer;
  border: none;
  border-bottom: solid white 1px;
  background: #F5F5F5;
  color: #D35555;
  text-align: center;
  font-size: 13px;
  width: 100px;
  padding: 9px;
  -webkit-box-shadow: #AAA 0px 2px 20px -5px;
  box-shadow: #AAA 0px 2px 20px -5px;
  position: absolute;
  bottom: 34px;
}

/* line 577, ../sass/_custom.scss */
.perfil .submitArea {
  height: 42px;
  margin-top: 14px;
}

/* line 581, ../sass/_custom.scss */
.botonONG {
  display: block;
  position: absolute;
  bottom: 36px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  right: 75px;
  color: white;
  font-weight: 300;
  background-color: #D35555;
  padding: 4px;
}

/*--- • 2 • f REGLAS EXCLUSIVAS de LISTA DE ONGS -------------*/
/* line 595, ../sass/_custom.scss */
.banco {
  border: solid 1px #F5F5F5;
  margin: 62px 4px;
  padding: 22px 8px;
  -webkit-box-shadow: 0 35px 35px -35px #699;
  box-shadow: 0 30px 35px -35px #699;
  position: relative;
}

/* line 603, ../sass/_custom.scss */
.banco:first-child {
  margin-top: 95px;
}

/* line 606, ../sass/_custom.scss */
.banco h2 {
  font-size: 24px;
  margin: 15px 0;
}

/* line 610, ../sass/_custom.scss */
.banco h3 {
  font-size: 18px;
  color: #F16B6B;
}

/* line 614, ../sass/_custom.scss */
.banco h4, .ficha_banco p {
  font-size: 14px;
  font-weight: 300;
  margin: 11px 0;
}

/* line 619, ../sass/_custom.scss */
.ficha_banco p {
  padding-left: 5px;
}

/* line 622, ../sass/_custom.scss */
.ficha_banco {
  float: right;
  width: 65%;
  padding-left: 8px;
}

/* line 627, ../sass/_custom.scss */
.reservar a {
  height: 48px;
  width: 60px;
  border-radius: 50%;
  background-color: #F5F5F5;
  position: absolute;
  right: 10px;
  bottom: 10px;
  text-align: center;
  padding-top: 12px;
  transition: background-color 500ms ease;
}

/* line 639, ../sass/_custom.scss */
.reservar a, .reservar a:visited {
  color: #D35555;
}

/* line 640, ../sass/_custom.scss */
.reservar a:hover {
  color: white;
  background-color: #D35555;
}

/*--- • 3 • a REGLAS de la BARRA DE PORCENTAJES --------------*/
/* line 643, ../sass/_custom.scss */
.campania {
  letter-spacing: 1px;
  width: 69%;
  font-weight: 300;
  font-size: 14px;
  color: white;
  margin-left: 1%;
  margin-bottom: 6px;
  display: inline-block;
}

/* line 653, ../sass/_custom.scss */
.campania:before {
  content: "Donantes en: ";
  font-weight: 400;
}

/* line 654, ../sass/_custom.scss */
.banco .campania {
  color: black;
}

/* line 655, ../sass/_custom.scss */
.banco .campania:before {
  content: "";
}

/* line 657, ../sass/_custom.scss */
.faltandias {
  position: relative;
  width: 29%;
  font-size: 14px;
  color: #F16B6B;
  text-align: right;
  margin-right: 1%;
  margin-bottom: 6px;
  display: inline-block;
}

/* line 667, ../sass/_custom.scss */
.faltandias:before {
  content: "faltan ";
}

/* line 668, ../sass/_custom.scss */
.faltandias:after {
  content: " días";
}

/* line 670, ../sass/_custom.scss */
.bar-main-container {
  width: 99%;
  font-family: "Oswald", sans-serif;
  text-align: left;
  margin: 0 auto;
}

/* line 677, ../sass/_custom.scss */
.bar-container {
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 37px;
  background: #F16B6B;
  overflow: hidden;
  border: solid 1px white;
  color: white;
}

/* line 690, ../sass/_custom.scss */
.bar, .registrados, .objetivo {
  font-size: 20px;
  line-height: 2;
}

/* line 691, ../sass/_custom.scss */
.bar {
  float: left;
  height: 100%;
  position: relative;
}

/* line 696, ../sass/_custom.scss */
.bar div {
  background: #D35555;
  height: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: right;
  -webkit-animation: ensanchar 3s;
  animation: ensanchar 3s;
}

/* line 707, ../sass/_custom.scss */
.bar div:after {
  content: " ";
  background: url(asset-path("gotas.png")) 0px 1px no-repeat;
  display: inline-block;
  width: 20px;
  height: 27px;
  position: relative;
  top: 2px;
  margin: 0 10px;
}

/* line 716, ../sass/_custom.scss */
.objetivo:before, .registrados:after {
  font-size: 13px;
  font-weight: 300;
}

/* line 720, ../sass/_custom.scss */
.objetivo {
  position: absolute;
  right: 6px;
}

/* line 725, ../sass/_custom.scss */
.registrados {
  position: absolute;
  left: 1px;
  padding: 0 9px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #D35555;
  height: 36px;
}

/* line 735, ../sass/_custom.scss */
.registrados:after {
  content: " REGISTRADOS";
}

/* line 736, ../sass/_custom.scss */
.objetivo:before {
  content: "OBJETIVO: ";
}

/*--- • 3 • b REGLAS de la GOTA ------------------------------*/
/* line 740, ../sass/_custom.scss */
.columna .boton_donar {
  margin-top: 250px;
}

/* line 745, ../sass/_custom.scss */
.boton_donar {
  position: relative;
  font-family: "Oswald", sans-serif;
  text-align: center;
  display: block;
  margin-top: 500px;
  width: 256px;
  height: 400px;
}
/* line 754, ../sass/_custom.scss */
.boton_donar a {
  font-size: 28px;
  font-weight: 700;
  color: #6E2F26;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 256px;
  height: 367px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 35px;
}
/* line 768, ../sass/_custom.scss */
.boton_donar a p {
  position: absolute;
  bottom: 15%;
  left: 0;
  right: 0;
  margin: 0 20px;
  line-height: 40px;
}
/* line 776, ../sass/_custom.scss */
.boton_donar a p:before {
  top: -100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: "";
  position: absolute;
  width: 56px;
  height: 72px;
  background-image: url(asset-path("mini-logo.png"));
  background-repeat: no-repeat;
}
/* line 790, ../sass/_custom.scss */
.boton_donar a:before {
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  width: 256px;
  height: 367px;
  background-image: url(asset-path("big-gota.png"));
  background-repeat: no-repeat;
}

/*--- • 3 • c REGLAS de los BADGETS --------------------------*/
/* line 805, ../sass/_custom.scss */
.badgets {
  margin: 0 35px 14px 35px;
  text-align: center;
  border-top: dashed #AAA 1px;
  border-bottom: dashed #AAA 1px;
}

/* line 811, ../sass/_custom.scss */
.badget {
  width: 54px;
  height: 54px;
  border-radius: 27px;
  background: #D35555;
  margin: 10px;
  overflow: hidden;
  transition: width 0.5s ease, border-radius 0.3s ease;
  display: inline-block;
  text-align: left;
}

/* line 821, ../sass/_custom.scss */
.badget:hover {
  width: 155px;
  border-radius: 0;
}

/* line 825, ../sass/_custom.scss */
.medalla {
  display: inline-block;
  width: 45px;
  height: 54px;
  background: url(https://lh6.googleusercontent.com/-bIbraxlvFZk/U_juf3QT3sI/AAAAAAAAQTo/e0BskWTQtfM/w46-h277-no/badgets.png) no-repeat 50% 6px;
  margin-left: 7px;
}

/* line 831, ../sass/_custom.scss */
.descripcion {
  display: inline-block;
  position: relative;
  bottom: 3px;
}

/* line 836, ../sass/_custom.scss */
.col_div .descripcion > p {
  font: 12px arial;
  font-weight: bold;
  margin: 0 0 0 9px;
}

/* line 841, ../sass/_custom.scss */
.descripcion p span {
  font: 11px arial;
  font-weight: normal;
  font-style: italic;
  color: #F5F5F5;
}

/*colores por tema */
/* line 849, ../sass/_custom.scss */
.bronce {
  background-color: #C9712A;
}

/* line 850, ../sass/_custom.scss */
.plata {
  background-color: #B3B4BD;
}

/* line 851, ../sass/_custom.scss */
.oro {
  background-color: #CCA14A;
}

/* line 852, ../sass/_custom.scss */
.azul {
  background-color: #5476BA;
}

/*medallas por tema */
/* line 855, ../sass/_custom.scss */
.bronce .medalla {
  background-position: 50% -51px;
}

/* line 856, ../sass/_custom.scss */
.oro .medalla {
  background-position: 50% -169px;
}

/* line 857, ../sass/_custom.scss */
.plata .medalla {
  background-position: 50% -112px;
}

/* line 858, ../sass/_custom.scss */
.azul .medalla {
  background-position: 50% -229px;
}

/* line 860, ../sass/_custom.scss */
.sin {
  background-color: #F5F5F5 !important;
}

/* • 4 ANIMACIONES -------------------------------------------*/
@-webkit-keyframes ensanchar {
  from {
    width: 30%;
  }
  to {
    width: 100%;
  }
}
@keyframes ensanchar {
  from {
    width: 1%;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes noscroll {
  from {
    height: 1px;
    min-height: inherit;
  }
  to {
    height: 140px;
    min-height: inherit;
  }
}
@keyframes noscroll {
  from {
    height: 1px;
    min-height: inherit;
  }
  to {
    height: 140px;
    min-height: inherit;
  }
}
/* Calendario */
/* line 876, ../sass/_custom.scss */
.calendario {
  float: right;
  margin: 10px 25px 0 0;
}

/* line 883, ../sass/_custom.scss */
.calendario tr th {
  padding: 5px 10px 5px 10px;
}

/* line 886, ../sass/_custom.scss */
.calendario tr td {
  padding-top: 15px;
  text-align: center;
}

/* line 890, ../sass/_custom.scss */
.calendario tr td a {
  font-size: 25px;
}

/* line 894, ../sass/_custom.scss */
.listado_meses {
  float: right;
  margin: 50px 25px 0 0;
}

/* line 903, ../sass/_custom.scss */
.listado_meses ul li {
  display: inline;
  background-color: #F5F5F5;
}

/* CSS HERMANOS DE SANGRE - para MOBILES Y TABLES - Indice

• 1 REGLAS PANTALLAS MENORES A 798px, IPAD y SMARTPHONE
--- • 1 • a MENÚ MOBILE
--- • 1 • b CONTENIDOS VARIOS

• 2 REGLAS MOBILES Y PANTALLAS MENORES A 365px
*/
/* • 1 REGLAS PANTALLAS MENORES A 798px, IPAD y SMARTPHONE ---*/
@media (max-width: 768px) {
  /*@media only screen and (max-device-width: 798px)*/
  /*--- • 1 • a MENÚ MOBILE -----------------------------------*/
  /* line 15, ../sass/_mobile.scss */
  .faldon_top_container {
    position: relative;
    width: 100%;
    background: white;
    height: auto;
  }

  /* line 22, ../sass/_mobile.scss */
  .faldon_top {
    width: 100%;
    height: auto;
  }

  /* line 27, ../sass/_mobile.scss */
  .logo_top_container {
    position: relative;
    top: 0;
    left: 0;
    background: #F16B6B;
    text-align: center;
  }

  /* line 34, ../sass/_mobile.scss */
  .menus {
    height: 0px;
    overflow: hidden;
    background-color: #F16B6B;
    border-bottom: 0px solid #D35555;
    -webkit-box-shadow: black 0px 0px 25px -5px;
    box-shadow: black 0px 0px 25px -5px;
  }

  /* line 42, ../sass/_mobile.scss */
  ul#menu, ul#sobre_derecha {
    position: relative;
    left: auto;
    top: auto;
    right: auto;
  }

  /* line 46, ../sass/_mobile.scss */
  ul#menu li,
  ul#sobre_derecha li {
    display: block;
    width: auto;
    position: relative;
    text-align: center;
  }

  /* line 53, ../sass/_mobile.scss */
  ul#menu ul.sub-menu li {
    display: inline-block;
    background: none;
  }

  /* line 57, ../sass/_mobile.scss */
  ul#menu li ul.sub-menu {
    display: block;
    position: relative;
    text-align: center;
  }

  /* line 63, ../sass/_mobile.scss */
  ul#menu > li > a:after {
    content: " :";
  }

  /* line 64, ../sass/_mobile.scss */
  ul#sobre_derecha li > a:after {
    content: none;
  }

  /* line 66, ../sass/_mobile.scss */
  ul#menu > li a,
  ul#sobre_derecha > li a {
    border-right: none;
    background: none !important;
  }

  /* line 71, ../sass/_mobile.scss */
  ul#sobre_derecha > li:last-child a {
    color: #F16B6B;
  }

  /* line 75, ../sass/_mobile.scss */
  .menus > ul > li:first-child {
    background: white;
    padding-top: 4px;
  }

  /* line 79, ../sass/_mobile.scss */
  .menus > ul > li:nth-child(2) {
    background: #F5F5F5;
  }

  /* line 82, ../sass/_mobile.scss */
  .menus #sobre_derecha > li:last-child a {
    color: white;
  }

  /* line 86, ../sass/_mobile.scss */
  #sobre_derecha > span,
  #sobre_derecha .HS_email {
    width: auto;
    height: auto;
    overflow: initial;
    top: 0;
    right: 0;
    position: relative;
    background: none;
    display: inline-block;
    margin: 0;
    padding: 12px;
    text-transform: uppercase;
  }

  /* line 100, ../sass/_mobile.scss */
  .HS_email:hover {
    width: auto;
  }

  /* line 101, ../sass/_mobile.scss */
  .HS_email a {
    padding: 0;
  }

  /* line 102, ../sass/_mobile.scss */
  .st_facebook, .st_twitter {
    display: none;
  }

  /*-----botón abrir menú-------*/
  /* line 106, ../sass/_mobile.scss */
  .abrir-menu {
    cursor: pointer;
    height: 36px;
    width: 36px;
    position: absolute;
    right: 10px;
    bottom: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 9999;
    border-radius: 50% 0% 50% 50%;
    -webkit-transform: translateY(0px) rotate(-45deg);
    -ms-transform: translateY(0px) rotate(-45deg);
    transform: translateY(0px) rotate(-45deg);
  }

  /* line 122, ../sass/_mobile.scss */
  .abrir-menu.mAbierto {
    bottom: -16px;
  }

  /* line 125, ../sass/_mobile.scss */
  .abrir-menu:hover, .abrir-menu.mAbierto {
    background: #F5F5F5;
  }

  /* line 129, ../sass/_mobile.scss */
  .abrir-menu div {
    background: #D35555;
    height: 4px;
    width: 20px;
    margin-left: 8px;
    margin-top: 16px;
    -webkit-transform: translateY(0px) rotate(45deg);
    -ms-transform: translateY(0px) rotate(45deg);
    transform: translateY(0px) rotate(45deg);
  }

  /* line 138, ../sass/_mobile.scss */
  .abrir-menu div::before, .abrir-menu div::after {
    background: #D35555;
    content: '';
    display: block;
    height: 4px;
    width: 20px;
  }

  /* line 145, ../sass/_mobile.scss */
  .abrir-menu div::before {
    -webkit-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    transform: translateY(-7px);
  }

  /* line 150, ../sass/_mobile.scss */
  .abrir-menu div::after {
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
  }

  /*----- animación menú -------*/
  /* line 157, ../sass/_mobile.scss */
  .abrir-menu, .abrir-menu:hover, .abrir-menu.mAbierto, .abrir-menu div, .abrir-menu div::before, .abrir-menu div::after, .menus, .menus.mAbierto {
    -webkit-transition: 600ms all;
    transition: 600ms all;
  }

  /* line 161, ../sass/_mobile.scss */
  .abrir-menu div.mAbierto {
    background: transparent;
  }

  /* line 164, ../sass/_mobile.scss */
  .abrir-menu div.mAbierto::before {
    -webkit-transform: translateY(0px) rotate(-45deg);
    -ms-transform: translateY(0rem) rotate(-45deg);
    transform: translateY(0px) rotate(-45deg);
  }

  /* line 169, ../sass/_mobile.scss */
  .abrir-menu div.mAbierto::after {
    -webkit-transform: translateY(-4px) rotate(45deg);
    -ms-transform: translateY(-4px) rotate(45deg);
    transform: translateY(-4px) rotate(45deg);
  }

  /* line 174, ../sass/_mobile.scss */
  .menus.mAbierto {
    height: 280px;
    border-bottom-width: 2px;
  }

  /*--- • 1 • b CONTENIDO VARIOS-------------------------------*/
  /* line 180, ../sass/_mobile.scss */
  .content_container {
    border-top: none;
  }

  /* line 183, ../sass/_mobile.scss */
  .h_container {
    position: relative;
    left: 0;
    top: 0;
    margin-left: 0;
    width: auto;
    height: auto;
    text-align: center;
    padding: 25px 5px;
  }

  /* line 191, ../sass/_mobile.scss */
  .h_container h1 {
    color: black;
    margin-bottom: 5px;
  }

  /* line 195, ../sass/_mobile.scss */
  .h_container ~ .col_der {
    padding-top: 5px;
  }

  /* line 198, ../sass/_mobile.scss */
  .col_der {
    padding: 5px 10px 25px 10px;
    min-height: inherit;
  }

  /* line 202, ../sass/_mobile.scss */
  .col_div {
    margin: 0 auto;
  }

  /* line 205, ../sass/_mobile.scss */
  .col_div.home, .col_div.us {
    padding-top: inherit;
    padding-bottom: inherit;
  }

  /* line 209, ../sass/_mobile.scss */
  .col_div p, .col_div iframe, .col_div form, .col_div img {
    margin: 5px 0;
  }

  /* line 212, ../sass/_mobile.scss */
  .col_div iframe {
    width: 100% !important;
  }

  /* line 215, ../sass/_mobile.scss */
  .col_izq {
    position: relative;
    width: auto;
    height: auto;
    padding: 55px 10px;
  }

  /* line 220, ../sass/_mobile.scss */
  .boton_donar {
    margin: 0 auto;
    float: none;
  }

  /* line 224, ../sass/_mobile.scss */
  .campania {
    color: #D35555;
  }

  /* line 227, ../sass/_mobile.scss */
  .col_div .imagen {
    float: none;
    width: 60%;
    margin: 0 20% 12px 20%;
  }

  /* line 232, ../sass/_mobile.scss */
  .col_div h1, .col_div h2, .col_div h3 {
    margin-left: 0;
    margin-right: 0;
  }

  /* line 236, ../sass/_mobile.scss */
  .col_div form INPUT[type="password"], .col_div form INPUT[type="text"], .col_div form INPUT[type="email"] {
    width: 100%;
  }

  /* line 239, ../sass/_mobile.scss */
  .slogan {
    margin: 45px auto;
  }

  /* line 242, ../sass/_mobile.scss */
  .pregunta {
    margin: 8px 0px;
  }

  /* line 245, ../sass/_mobile.scss */
  .bar-main-container {
    margin-top: 40px;
  }

  /* line 248, ../sass/_mobile.scss */
  .container_menu {
    position: relative;
  }
}
/* • 2 REGLAS MOBILES Y PANTALLAS MENORES A 365px ------------*/
@media (max-width: 365px) {
  /* line 255, ../sass/_mobile.scss */
  .slogan {
    width: auto;
    height: auto;
    text-align: center;
  }

  /* line 260, ../sass/_mobile.scss */
  .slogan p {
    display: inline-block;
  }

  /* line 263, ../sass/_mobile.scss */
  .slogan p, .slogan h2, .slogan h3 {
    position: relative;
    left: auto !important;
    right: auto !important;
    top: auto !important;
    bottom: auto !important;
  }

  /* line 270, ../sass/_mobile.scss */
  .menus.mAbierto {
    height: 325px;
  }
}
/* line 1, ../sass/static/_home.scss */
.h_container {
  position: absolute;
  top: 245px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 800px;
  width: auto;
  height: 35px;
  z-index: 1;
}
/* line 12, ../sass/static/_home.scss */
.h_container h1 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: white;
  padding: 5px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
/* line 20, ../sass/static/_home.scss */
.h_container span {
  margin-left: 30px;
}
/* line 23, ../sass/static/_home.scss */
.h_container .blood-text {
  color: #F16B6B;
}
/* line 26, ../sass/static/_home.scss */
.h_container .video-home {
  padding: 65px 90px;
  background: #FFFFFF;
  margin-top: 20px;
  border-top: 4px solid #F16B6B;
}
/* line 32, ../sass/static/_home.scss */
.h_container .video-home p {
  color: #5F5F5F;
  letter-spacing: 1px;
  font-weight: 200;
  line-height: 25px;
  margin-bottom: 20px;
}

/* line 41, ../sass/static/_home.scss */
.col_der {
  background: white;
  min-height: 966px;
  padding-left: 50%;
}
/* line 46, ../sass/static/_home.scss */
.col_der.columna {
  min-height: 805px;
}

/* line 50, ../sass/static/_home.scss */
.col_izq {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  padding-right: 0;
  padding-left: 2%;
  background: #F16B6B;
}
