/*
Error: Invalid CSS after "...w@extend .col-1": expected "{", was ";"
        on line 856 of /home/joaquinocampo/HdS/hermanosdesangre/app/assets/sass/_custom.scss
        from line 13 of /home/joaquinocampo/HdS/hermanosdesangre/app/assets/sass/style.scss

851:     position:relative;
852: }
853: .bar div {
854:     background: $mainRed;
855:     height: 100%;
856:     w@extend .col-1;
857:     -webkit-border-radius: 10px;
858:     -moz-border-radius: 10px;
859:     border-radius: 10px;
860:     text-align: right;
861:     -webkit-animation: ensanchar 3s;

Backtrace:
/home/joaquinocampo/HdS/hermanosdesangre/app/assets/sass/_custom.scss:856
/home/joaquinocampo/HdS/hermanosdesangre/app/assets/sass/style.scss:13
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:1165:in `expected'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:1101:in `expected'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:1096:in `tok!'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:641:in `block'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:661:in `block_child'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:642:in `block'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:635:in `ruleset'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:660:in `block_child'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:117:in `stylesheet'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:42:in `parse'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/engine.rb:393:in `_to_tree'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/engine.rb:299:in `to_tree'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:88:in `block in with_import'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:88:in `with_import'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `map'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/root_node.rb:20:in `render'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/engine.rb:268:in `render'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `each'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:328:in `block in watch'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/vendor/listen/lib/listen/listener.rb:252:in `call'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/vendor/listen/lib/listen/adapter.rb:254:in `call'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/home/joaquinocampo/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/sass-3.4.13/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...w@extend .col-1\": expected \"{\", was \";\"\A         on line 856 of /home/joaquinocampo/HdS/hermanosdesangre/app/assets/sass/_custom.scss\A         from line 13 of /home/joaquinocampo/HdS/hermanosdesangre/app/assets/sass/style.scss\A \A 851:     position:relative;\A 852: }\A 853: .bar div {\A 854:     background: $mainRed;\A 855:     height: 100%;\A 856:     w@extend .col-1;\A 857:     -webkit-border-radius: 10px;\A 858:     -moz-border-radius: 10px;\A 859:     border-radius: 10px;\A 860:     text-align: right;\A 861:     -webkit-animation: ensanchar 3s;"; }
