<div class="footer">
  <div class="container">
    <div style="margin-top: 5px">
    <span class='st_facebook_large' displayText='Facebook'></span>
    <span class='st_twitter_large' displayText='Tweet'></span>
    <span class='st_linkedin_large' displayText='LinkedIn'></span>
    <span class='st_pinterest_large' displayText='Pinterest'></span>
    <a class="btn btn-default" href="http://github.com/tebayoso/hermanosdesangre">GITHUB</a>
    </div>
  </div>
</div>