<div class="footer">
  <div class="container">
    <a class="btn btn-default" href="http://github.com/tebayoso/hermanosdesangre">GITHUB</a>
    <%= link_to "SOY UNA ONG", new_ong_path(current_user), class: "btn btn-default" %>  
  </div>
</div>