<div class="footer">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><%= link_to "SOY UNA ONG", new_ong_path(current_user) %></li>
      <li><%= link_to "CONTACTO", contact_path %></li>
      <li><%= link_to "NOSOTROS", about_us_path %></li>
    </ul>
  </div>
</div>