<li><%= link_to "PEDIR TURNO", edit_user_registration_path %></li>
<li><%= link_to "MIS TURNOS", edit_user_registration_path %></li>
<li><%= link_to "CUENTA", edit_user_registration_path %></li>
<li><%= link_to "SALIR", destroy_user_session_path, :method => :delete %></li>