<div class="faldon_top_container">
  <div class="faldon_top">
    <div class="logo_top_container">
      <%= link_to image_tag("logo.png"), root_path, alt: 'Hermanos de Sangre' %>
    </div>

    <div class="textos_container">
      <ul id="menu">
        <li>
          <a href="#">Menu 1</a>
        </li>
        <li><a href="#">Menu 2</a>

          <ul class="sub-menu">
            <li>
              <a href="#">Sub Menu 1</a>
            </li>
            <li>
              <a href="#">Sub Menu 2</a>
            </li>
          </ul>
        </li>
        <li class="sobre_derecha"><a href="#">Menu 3</a>

        </li>
        <li class="sobre_derecha"><a href="#">Menu 4</a>

          <ul class="sub-menu">
            <li>
              <a href="#">Sub Menu 1</a>
            </li>
            <li>
              <a href="#">Sub Menu 2</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>