<div class="row">
  <div class="col-xs-12 col-sm-3 menu-column hidden-xs">
    <%= render partial: 'shared/ong_my_banks_menu', locals:{ong: @ong ,selectedOng: @ong }%>
    <div class="users-gota-donar">
      <%= render partial: 'shared/gota_donar' %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-9">
    <%= yield %>
  </div>
</div>
<% parent_layout 'application' %>