<div class="row">

  <div class="col-xs-12 col-sm-offset-6 col-sm-6 col-md-offset-6 col-md-6 col_der columna">
    <%= yield %>
  </div>
   <div class="col-xs-12 col-sm-6 col-md-6 columna col_izq">
    <div class="how-works-boton-donar">
        <%= link_to content_tag(:p, "quiero donar"), current_user ? ongs_path : user_session_path %>
        <div>
          <p>Si puedes hacerlo, debes hacerlo</p>
        </div>
    </div>
  </div>
</div>
<% parent_layout 'application' %>
